@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;400;500&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 2rem;
    margin: 5%;
}

.titulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}


.titulo h1 {
    font-size: auto;
    font-family: acme, sans-serif;
    font-weight: 500;
    color: #4567a5;
}

.titulo h3 {
    font-size: 16px;
    font-family: poppins, sans-serif;
    font-weight: 400;
}


/* Formulario */
.card-formulario {
    border: 1px solid #4567a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5%;
    font-family: poppins;
    padding: 3%;
    width: auto;
    box-shadow: #a7c4d3 5px 5px 7px 1px;
}

.form{
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.input-box{
    display: flex;
    flex-direction: column;
}
.input-box input
{
    font-family: poppins;
    color: #525252;
    border-bottom: solid 1px #4567a5;
    outline: none;
    width: 15rem;
}

.input-box label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-box textarea {
    font-family: poppins;
    color: #000;
    border: solid 1px #4567a5;
    outline: none;
    resize: none;
    width: 30rem;
    height: 25vh;
}

.btn-enviar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enviar button {
    text-transform: uppercase;
    background-color: #4567a5;
    border: 1px solid #4567a5;
    height: 2.5rem;
    width: 12rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
}

.btn-enviar button:hover {
    background-color: #fff;
    color: #4567a5;
}


/* Email e tel para contato */

.text {
    text-align: center;
}

.text h3 {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #a7c4d3 5px 5px 7px 1px;
    width: 32rem;
    border-radius: 8px;
    border: #4567a5 solid 1px;
}

.email-numero {
    gap: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

.info-box h6 {
    font-size: 14px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #525252;
}

.info-box p {
    font-family: poppins, sans-serif;
    font-size: 16px;
}


/* responsividade */

@media(max-width: 529px){
    .card-formulario{
        display: flex;
        flex-direction: column;
        border: none;
        box-shadow: none;
        max-width: 40rem;
        box-shadow: 3px 2px 2px 2px #525252;
    }
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-group{
        display: block;
    }
    .input-box{
        display: block;
    }
    .input-box textarea{
        width: 20rem;
        height: 10rem;
    }
}
@media (max-width: 320px){
    .input-box textarea{
        width: 16rem;
        height: 8rem;
    }
    .info{
        
    }
}