@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body
{
    overflow-x: hidden;
}

.fundo 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 150vh;
} 

.fundo-circulo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 90vh;
    background-color: #378f9e;
    z-index: 1;
    /* position: fixed; */
}

.box-img
{
    width: 485px;
    height: 485px;
    background-image: url("../img/mundo.png");
    background-size: cover;
    background-position: center;
    margin: 0rem 3rem 6.5rem 0rem;
 
    position: fixed;
    z-index: 2;
}


.circulo
{
    width: 600px;
    height: 600px;
    background-image: radial-gradient(rgba(255, 255, 0, 0)0 200px, #378f9e 200px 100%);
    background-position: center;
    
    /* background-size: 200px 200px;  definindo o tamanho original do gradiente */
    /* transition: background-size 5s ease;  animando a propriedade background-size */
    z-index: 3;
}


.card
{
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
    opacity: 0;
    transition: all 0.5s ease;
    
}

.card h1
{
    font-family: poppins, sans-serif;
    font-size: 30px;
    color: #000;
    font-weight: 400;
}

.card p
{
    font-family: poppins, sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-align: justify;
}

.botao, .botao-i
{
    background-color: #2a599e;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #2a599e;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;

    font-family: poppins, sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    z-index: 5;
}

.botao:hover, .botao-i:hover
{
    background-color: #fff;
    color: #2a599e;
}

.teste
{
    z-index: 6;
    width: 100vw;
    height: 50vh;
    background-color: #da7a2c;
}

/* .circulo:hover 
{
    background-size: 0px 0px; /* definindo o tamanho reduzido do gradiente no hover 
} */

/* .circulo:hover
{
    background-image: radial-gradient(rgba(255, 255, 0, 0)0 10px, black 10px 100%);
} */

/* .circulo::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(rgba(255, 255, 0, 0)0 0px, black 0px 100%);
    z-index: 1;
    transition: all 0.5s linear;
    /* opacity: 0; 
  }
  
  .circulo:hover::before {
    background: radial-gradient(rgba(255, 255, 0, 0)0 0px, black 0px 100%);
    /* opacity: 1; 
  } */

/* .botao:hover ~ .circulo
{
    background: radial-gradient(rgba(255, 255, 0, 0)0 0px, black 0px 100%);
} */

/* @keyframes fechar 
{
    0% 
    {
        background: radial-gradient(rgba(255, 255, 0, 0)0 75px, black 75px 100%);
    }
    100% 
    {
        background: radial-gradient(rgba(255, 255, 0, 0)0 0px, black 0px 100%);
    }
} */