@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration-line: none;
    list-style: none;
}



/* NAVBAR */
.cabecalho {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3rem 3rem;
    align-items: center;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    /* padding: 1.5rem; */
    background-color: #232f61;
    position: fixed;
    z-index: 31;
}

.logo {
    justify-self: start;
    width: 170px;
    height: 50px;
    margin-left: 1.6rem;
    margin-top: 2.3rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.topicos-sessao-completa {
    display: flex;
    align-items: center;
    padding-top: 2.9rem;
}

.topicos {
    width: 100%;
    display: flex;
    gap: 3rem;
    list-style: none;
}

#topicos-icon-fixo {
    display: none;
}

#topicos-maozinha {
    opacity: 0;
    transition: all 0.5s ease;
    color: #000000;
    font-size: 30px;
}

.cabecalho-menu-item {
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
}

.cabecalho-menu-item:hover {
    color: #f0a376;
}

.cabecalho-menu-item i,
.topicos li i {
    color: #fff;
    margin-right: 0.4rem;
    font-size: 18px;
    transition: all 0.5s ease;
}

.cabecalho-menu-item i:hover {
    color: #f0a376;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: #fff;
    /* float: right; */
    /* line-height: 80px; */
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


.box-sininho {
    position: relative;
}

.nova-notificacao-bolinha {
    width: 11px;
    height: 11px;
    background-color: #6890e0;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 2px;
}

#icone-notificacao-aceita {
    color: #1ea41e;
    margin-left: 0.4rem;
}

#icone-notificacao-recusada {
    color: #c53131;
    margin-left: 0.4rem;
}

.box-icone-notificacao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #4567a5;
    margin-left: 0.4rem;
}

#icone-notificacao-nova {
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 4px;
    left: 5px;
}

/* DROP DOWN */
.topicos-sessao-login {
    /* display: flex; */
    /* justify-self: end; */
    width: 10rem;
    word-wrap: break-word;
    margin-right: 2rem;
}

.topicos-sessao-login li {
    list-style: none;
}

.topicos-sessa-login-linha {
    position: relative;

}

.box-topicos-sessao-login-linha {
    display: flex;
}

.box-topicos-sessao-login-linha i {
    color: #ffffff;
    font-size: 18px;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.box-topicos-sessao-login-linha i:hover {
    color: #f0a376;
}

.sub-topicos-sininho {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: 1px solid #232f61;
    right: 0rem;
    top: 6rem;
    width: 15rem;
    height: 18rem;
    overflow-y: auto;
}

.sub-topicos-sininho.sem-resultado {
    justify-content: center;
    align-items: center;
}

.sub-topicos-sininho.sem-resultado li {
    border-bottom: none;
}

.sub-topicos-sininho.sem-resultado li:hover {
    background-color: #fff;
}

.sub-topicos-sininho-linha-sem-resultado {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
    margin: 1rem;
}

/* SCROLL */
.sub-topicos-sininho::-webkit-scrollbar {
    width: 11px;
}

.sub-topicos-sininho::-webkit-scrollbar-track {
    background: #dce5f7;
    border-radius: 0.8rem;
}

.sub-topicos-sininho::-webkit-scrollbar-thumb {
    background-color: #4567a5;
    border-radius: 20px;
    border: 2px solid #dce5f7;
    transition: all 0.5s ease;
}

.sub-topicos-sininho li {
    border-bottom: 1px solid #9ba8e0;
    padding: 1rem 0.5rem 1rem 1rem;
    transition: all 0.5s ease;
}

.sub-topicos-sininho li:hover {
    background-color: #dff1ff;
}

/* .sub-topicos-sininho li:last-child
{
    border-bottom: none;
} */
.sub-topicos-sininho-linha {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.sub-topicos-sininho-linha-titulo {
    display: flex;
    font-family: poppins, sans-serif;
    color: #2e2e2e;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-topicos-sininho-linha-frase {
    font-family: poppins, sans-serif;
    color: #525252;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-topicos {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: 1px solid #232f61;
    right: 0rem;
    top: 6rem;
    /* cima, direita, baixo, esquerda */
    padding: 1rem 2rem 0.5rem 2rem;
}

.sub-topicos li {
    list-style: none;
    height: 2rem;
    width: 8rem;
    transition: all 0.5s ease;
}

.sub-topicos li a {
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #252d51;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-topicos li a:hover {
    color: #e67635;
}

#nav-seta-sub-topicos {
    cursor: pointer;
    font-size: 25px;
    margin-left: 0.5rem;
    position: absolute;
    color: #fff;
    /* background-color: #4567a5; */
}














/* FOORTER */
footer {
    background-image: url(../img/rodape-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-footer {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-sessao {
    display: flex;
}

.footer-col {
    margin-right: 8rem;
}

#footer-col-sobre {
    margin-right: 0;
}

.footer-col h5 {
    padding-bottom: 15%;
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
}

.footer-col ul {
    list-style: none;
}

#lista-causas {
    display: flex;
    gap: 1.5rem;
}

.footer-col ul li {
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 3%;
    transition: all 0.5s ease;
}

.footer-col a li:hover {
    color: #f0a376;
}

/* ESTILIZANDO ICONES */
.midias-sociais {
    margin-top: 4%;
    margin-bottom: 1.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-icon {
    text-align: center;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px solid #232e61;
}

.box-icon i {
    margin-top: 6px;
    font-size: 25px;
    color: #232e61;
    transition: all 0.5s ease;
}

.box-icon:hover>i {
    color: #fff;
}

.box-icon:hover {
    background-color: #232e61;
    border: 1px solid #fff;
}

.box-icon-git {
    border-radius: 50%;
    background-color: #232e61;
    border: 1px solid #232e61;
    cursor: pointer;
    transition: 0.5s ease;
}

.box-icon-git:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.box-icon-git:hover>#icon-git {
    color: #232e61;
}

#icon-git {
    font-size: 40px;
    color: #fff;
    transition: all 0.5s ease;
}




/* RESPONSIVIDADE */
/* NAVBAR */
@media (max-width: 1579px) {
    .cabecalho {
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 1120px) {
    .cabecalho {
        grid-template-columns: 1fr 3.5fr;
    }
}

@media (max-width: 1034px) {
    .topicos {
        gap: 2rem;
    }
}

@media (max-width: 1066px) {
    .cabecalho {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .checkbtn {
        display: block;
        justify-self: end;
        margin-top: 2.5rem;
    }

    .topicos-sessao-completa {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 35%;
        height: 100vh;
        background-color: #fff;
        top: 6rem;
        right: -100%;
        transition: all 0.5s ease;
        z-index: 1;
        border-left: 1px solid #232e61;
        margin-top: 0rem;
        padding-top: 0;
    }

    .topicos {
        flex-direction: column;
        gap: 0rem;
    }

    .topicos li,
    .topicos-sessao-login-linha {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 3rem;
        height: 4rem;
        width: 100%;
        transition: all 0.5s ease;
        /* background-color: #eab9f1; */
        position: relative;
    }

    .topicos li:first-child {
        /* height: 5rem; */
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .topicos li:hover,
    .topicos-sessao-login-linha:hover {
        background-color: #dcf4ff;
    }

    #topicos-icon-fixo {
        display: block;
    }

    .topicos-sessao-login {
        flex-direction: column;
        align-items: center;
        /* background-color: #9f85cf; */
        width: 100%;
        margin-top: 0rem;
    }

    .cabecalho-menu-item {
        font-size: 14px;
        color: #232e61;
    }

    /* MÁGIGA INDO PRO LADO */
    #check:checked~.topicos-sessao-completa {
        right: 0;
    }

    #cabecalho-menu-item-login,
    .topicos-sessao-login {
        margin-right: 0;
        margin-left: 0;
    }

    .topicos li a,
    .topicos-sessao-login li a {
        font-size: 14px;
        color: #232f61;
    }

    .sub-topicos {
        background-color: #ffffff;
        border: none;
        top: 4rem;
        padding-left: 5rem;
        width: 100%;
    }

    #nav-seta-sub-topicos {
        color: #232e61;
    }


    .cabecalho-menu-item i,
    .topicos li i {
        color: #232e61;
    }

    .box-topicos-sessao-login-linha i {
        color: #232e61;
    }
}


@media (max-width: 774px) {
    .topicos-sessao-completa {
        width: 50%;
    }
}

@media (max-width: 578px) {
    .topicos-sessao-completa {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .topicos-sessao-completa {
        width: 100%;
    }

    .topicos li,
    .topicos-sessao-login-linha {
        justify-content: center;
        padding-left: 0rem;
    }

    .logo p {
        margin-left: 2rem;
    }

    .checkbtn {
        margin-right: 30px;
    }

    .sub-topicos {
        left: 2rem;
        width: 100%;
    }


    .sub-topicos-sininho {
        position: absolute;
        display: none;
        background-color: #ffffff;
        border: 1px solid #232f61;
        right: 3rem;
        top: 5rem;
        width: 15rem;
        height: 12rem;
        overflow-y: auto;
    }
}

@media(max-width: 444px) {
    .cabecalho {
        grid-template-rows: 2.5rem 2.5rem;
    }

    .logo {
        width: 166px;
        height: 44px;
        margin-left: 1.3rem;
        margin-top: 2rem;
    }

    .checkbtn {
        font-size: 20px;
    }

    .topicos-sessao-completa {
        top: 5rem;
    }
}

@media (max-width: 300px) {

    .topicos li a,
    .topicos-sessao-login li a {
        font-size: 13px;
    }

    .topicos li i,
    .topicos-sessao-login li i {
        font-size: 17px;
    }

}












/* RODAPÉ */
@media (max-width: 1507px) {
    .container-footer {
        margin-top: 12%;
    }
}

@media (max-width: 1320px) {
    .footer-col h5 {
        font-size: 23px;
    }
}

@media (max-width: 1180px) {
    .container-footer {
        justify-content: space-around;
    }

    .footer-sessao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        margin-right: 0;
    }

    #footer-col-adm {
        align-self: flex-start;
    }

    #footer-col-sobre {
        align-self: flex-start;
    }

    #footer-col-adm li {
        margin-bottom: 190%;
    }

    #col-ultima {
        margin-bottom: 10%;
    }

    .midias-sociais {
        margin-top: 6%;
    }
}

@media(max-width: 940px) {
    footer {
        background-position: center;
    }
}

@media (max-width: 811px) {
    .container-footer {
        margin-top: 15%;
    }

    .footer-col h5 {
        font-size: 20px;
    }

    .footer-col ul li {
        font-size: 14px;
    }

    .midias-sociais {
        margin-top: 9%;
    }
}

@media (max-width: 612px) {
    .footer-col h5 {
        font-size: 18px;
    }

    .footer-col ul li {
        font-size: 12px;
    }

    .box-icon i {
        font-size: 21px;
        margin-top: 6px;
    }

    #icon-git {
        font-size: 35px;
    }

    .box-icon {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 500px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-sessao {
        margin-left: 6%;
    }

    #footer-sessao-1 {
        padding-right: 6%;
    }

    #footer-col-adm li {
        margin-bottom: 0;
    }

    .footer-col {
        margin-bottom: 20%;
    }

    #footer-col-causas {
        margin-bottom: 10%;
    }

    .midias-sociais {
        margin-top: 0;
        margin-bottom: 4%;
    }
}

@media (max-width: 507px) {
    .container p {
        text-align: center;
    }

    .container h1 {
        font-size: 37px;
    }

    .titulo-card {
        margin-bottom: 1rem;
    }
}

@media (max-width: 381px) {
    .container h1 {
        font-size: 29px;
    }

    .container p {
        font-size: 14px;
        margin: 1rem 1rem 0rem 1rem;
    }

    .footer-col h5 {
        font-size: 16px;
    }

    .footer-col ul li {
        font-size: 10px;
    }

    .box-icon i {
        font-size: 19px;
        margin-top: 5px;
    }

    #icon-git {
        font-size: 32px;
    }

    .box-icon {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 300px) {
    .container-footer {
        margin-top: 20%;
    }

    .footer-col h5 {
        font-size: 14px;
    }
}