@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* 
.modal-responsive 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14em;
    font-family: poppins, sans-serif;
} */

.modal 
{
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-form 
{
    width: 400px;
    height: 367px;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 30px 30px 25px 30px;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 10;
    left: 50%;
    top: 50%;
}

.modal-titulo 
{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.modal-frase
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin: 1.6rem 0rem 0.5rem 0rem;
}

.modal-frase a
{
    font-weight: 500;
    color: #c48139;
    transition: all 0.5s ease;
}
.modal-frase a:hover
{
    color: #3fa1cf;
}

.modal-senha 
{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #525252;
}
.modal
{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

/* .modal.hide, .fade.hide 
{
    opacity: 0;
    pointer-events: none;
} */

.form-modal, .form-modal-email
{
    line-height: 50px;
}

.modal-input-box, .modal-input-box-email
{
    position: relative;
}

.modal-input-box input, .modal-input-box-email input 
{
    display: flex;
    justify-content: center;
    width: 20.9rem;
    padding: 8px;
    border: 1px solid #cf8a3f;
    outline: none;

    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #525252;
    font-size: 14px;   
}
.btn-confirmed
{
    display: flex;
    justify-content: center;
}

.btn-confirmed button, #envia-email, #verifica-email
{
    margin: 2.5rem 0rem 1rem 0rem;
    width: 11rem;
    height: 2.5rem;
    background-color: #cf8a3f;
    border: 1px solid #cf8a3f;
    border-radius: 0.5rem;
    outline: none;

    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
}
.btn-confirmed button:hover, #envia-email:hover, #verifica-email:hover
{
    background-color: #fff;
    color: #cf8a3f;
}

.box-btn-fechar
{
    display: flex;
    justify-content: center;
}

.btn-fechar
{
    /* display: flex;
    justify-content: center; */
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cf8a3f;
    transition: all 0.5s ease;
    text-decoration-line: none;
}

.btn-fechar:hover
{
    color: #3fa1cf;
}


/*   
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
transition: all 0.5s ease;
cursor: pointer;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
}
*/

.modal-sessao-1
{
    display: none;
    flex-direction: column;
}

.modal-sessao-2
{
    display: none;
    flex-direction: column;
}