body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.cabecalho-completo {
    background-image: url(../img/cabecalho.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 120vh;
}

.conteudo-cabecalho {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.conteudo-esquerda {
    width: 50%;
}

.conteudo-direita {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
    position: relative;
}

.titulo-conteudo-direita {
    text-align: center;
}

.titulo-conteudo-direita h1 {
    font-family: acme, sans-serif;
    font-weight: 400;
    color: #232e61;
    margin-bottom: 15px;
}

.titulo-conteudo-direita p {
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 35px;
}

.continuar-botao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continuar-botao button {
    text-transform: uppercase;
    background-color: #cf8a3f;
    border: 1px solid #cf8a3f;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
}

.continuar-botao button:hover {
    background-color: #fff;
    color: #cf8a3f;
}

.conteudo-imagem{
    position: absolute;
    bottom: 100px;
    right: 60px;
}
.conteudo-imagem img{
    width: 150px;
    height: 150px;
}



/*MAIN DA PAGÍNA*/

.conteudo-completo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-conteudo-1{
    width: 80vw;
    height: 80vh;
    border: solid 1px #232e61;
    border-radius: 1rem;
    box-shadow: 0px 2px 1px 0px ;
}

.conteudo-imagem-1 img{
    height: 80vh; 
    width: 35vw;
}
