@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;400;500&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 2rem;
    margin: 10rem 0rem 5rem 0rem;
}

.titulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}


.titulo h1 {
    font-size: 2.5rem;
    font-family: acme, sans-serif;
    font-weight: 500;
    color: #232e61
}

.titulo h3 {
    font-size: 16px;
    font-family: poppins, sans-serif;
    font-weight: 400;
}


/* Formulario */
.card-formulario {
    border: 1px solid #4567a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: poppins;
    padding: 3rem;
    width: 36rem;
    box-shadow: 5px 5px 5px #b4d8e6;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    font-family: poppins;
    color: #525252;
    border-bottom: solid 1px #4567a5;
    outline: none;
    width: 15rem;
}

.input-box label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-box-textarea {
    width: 100%;
    height: 100%;
}

.input-box-textarea textarea {
    font-family: poppins;
    color: #000;
    border: solid 1px #4567a5;
    outline: none;
    resize: none;
    width: 30rem;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.input-box-textarea label {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}


.btn-enviar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enviar button {
    text-transform: uppercase;
    background-color: #4567a5;
    border: 1px solid #4567a5;
    height: 2.5rem;
    width: 12rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
}

.btn-enviar button:hover {
    background-color: #fff;
    color: #4567a5;
}


/* Email e tel para contato */

.text {
    text-align: center;
}

.text h3 {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #b4d8e6;
    padding: 0.2rem;
    width: 36rem;
    border-radius: 8px;
    border: #4567a5 solid 1px;
    margin: 2rem;
}

.email-numero {
    gap: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

.info-box h6 {
    font-size: 14px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #525252;
}

.info-box p {
    font-family: poppins, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}


/* responsividade */

@media(max-width: 575px) {
    main {
        margin: 8.8rem 0rem 3rem 0rem;
        gap: 0;
    }

    .card-formulario {
        display: flex;
        flex-direction: column;
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .input-box {
        display: block;
    }

    .input-box input {
        width: 80vw;
    }

    .input-box-textarea textarea {
        width: 80vw;
        height: 10rem;
    }

    .info {
        max-width: 70vw;
        box-shadow: none;
    }

    .email-numero {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width: 465px) {
    .titulo h1 {
        font-size: 35px;
    }

    .titulo h3 {
        font-size: 14px;
        margin: 0.8rem;
    }

    .text {
        font-size: 14px;
    }

    .email-numero {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .email-numero {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .email-numero {
        width: 100%;
        display: block;
        text-align: center;
    }
    .titulo h1
    {
        font-size: 29px;
    }
    main
    {
        padding: 0rem 0rem 3rem 0rem;
    }
    .input-box label
    {
        font-size: 14px;
    }
    .input-box-textarea label
    {
        font-size: 14px;
    }
    .form
    {
        gap: 1.2rem;
    }
    .info
    {
        max-width: 80vw;
    }
    .text h3
    {
        font-size: 14px;
    }
    .info-box p
    {
        font-size: 14px;
    }
    .email-numero
    {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

}