@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.form-image {
    width: 50vw;
}

.form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
}



/* TÍTULO */
.titulo-cadastro {
    text-align: center;
    font-family: Acme, Verdana, Geneva, Tahoma, sans-serif;
    color: #232e61;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 2.5rem;
}






/* BOTÕES PARA MUDAR O FORMULÁRIO */
.select-button,
#select-button {
    margin-top: 1.5rem;
    display: flex;
}

.select-button button {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #232e61;
    font-weight: 400;
    font-size: 16px;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #cf8a3f;
    text-decoration: none;
    text-transform: capitalize;
    width: 9.5rem;
    cursor: pointer;
}

#botao-dados-pessoais {
    background-color: #cf8a3f;
    color: #fff;
    transition: all 0.5s ease-out;
    border-right: none;
}

#botao-endereco {
    transition: all 0.5s ease-out;
}




/* BOTÃO INSTITUIÇÃO */
#select-button button {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #232e61;
    font-weight: 400;
    font-size: 16px;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #4567a5;
    text-decoration: none;
    text-transform: capitalize;
    width: 10.7rem;
    cursor: pointer;
}

#select-button #botao-dados-pessoais-i {
    background-color: #4567a5;
    color: #fff;
    transition: all 0.5s ease-out;
    border-right: none;
}

#botao-endereco-i {
    transition: all 0.5s ease-out;
}








/* FORMULÁRIO */
.formulario-completo {
    max-width: 30rem;
    flex-wrap: wrap;
    position: relative;
}

/* INPUTS */
.input-group {
    display: flex;
    max-width: 800px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 5%;
    margin-right: -1.5rem;
    /* background-color: #9c9c9c; */
    padding-left: 7.5%;
    height: 24rem;
}

#input-group-v
{
    height: 28rem;
}
.div-vazia-kk
{
    height: 3.8rem;
}
.input-box {
    display: flex;
    margin-right: 1.5rem;
    flex-direction: column;
    /* position: relative; */
}

.input-box input,
.input-box select {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 0.3rem;
    padding-top: 0.7rem;
    /* margin-bottom: 1.5rem; */
    border-bottom: 1px #4567a5 solid;
    font-size: 1rem;
    outline: none;
}

.input-box label {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #525252;
}

input::placeholder {
    font-weight: 300;
    color: #9c9c9c;
}

.input-box select {
    width: 12.8rem;
}


#input-box-switch
{
    align-items: flex-start;
}

.switch-container
{
    display: flex;
    margin-top: 0.7rem;
}

.switch-container input
{
    visibility: hidden;
    width: 0;
    height: 0;
}

.switch
{
    width: 2.8rem;
    height: 1.6rem;
    border-radius: 1.5rem;
    background-color: #cccccc;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
}

.switch::after
{
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #7a7a7a;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.switch-container input:checked + .switch
{
    background-color: #cf8a3f;
}

.switch-container input:checked + .switch::after
{
    background-color: #fff;
    transform: translateX(1.2rem);
}

#input-box-termos
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.aa
{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.2rem;
}

#input-box-termos input
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #525252;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

}

#input-box-termos input[type = "checkbox"]:checked::before
{
    content: '\2713';
    display: block;
    color: #fff;
    background-color: #cf8a3f;    
    text-align: center;
   
    line-height: 13px;
    font-size: 13px;
}

#input-box-termos a
{
    text-decoration: none;
    font-size: 13px;
    color: #4567a5;
    transition: all 0.5s ease;
}

#input-box-termos a:hover
{
    color: #e2be89;
}

/* BOTÕES */
.continue-button,
#continue-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.continue-button button {
    display: block;
    width: 11rem;
    background-color: #cf8a3f;
    color: #ffffff;
    padding: 0.3rem;
    margin-bottom: 15px;
    margin-top: -2rem;
    border: none;
    border: 1px solid #cf8a3f;
    border-radius: 5px;
    font-size: 1.3rem;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    transition: all 0.5s ease;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #fff;
    color: #cf8a3f;
    border: 1px solid #cf8a3f;
}

.continue-button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: Bitter;
    color: #4567a5;
    transition: all 0.5s ease;
}

.continue-button a:hover {
    color: #e2be89;
}



/* BOTÃO INSTITUIÇÃO */
#continue-button button {
    display: block;
    width: 11rem;
    background-color: #4567a5;
    color: #ffffff;
    padding: 0.3rem;
    margin-bottom: 15px;
    border: none;
    border: 1px solid #4567a5;
    border-radius: 5px;
    font-size: 1.3rem;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    transition: all 0.5s ease;
    cursor: pointer;
}

#continue-button button:hover {
    background-color: #fff;
    color: #4567a5;
    border: 1px solid #4567a5;
}

#continue-button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: Bitter;
    color: #4567a5;
    transition: all 0.5s ease;
}

#continue-button a:hover {
    color: #4567a5;
}



/* SETINHA PRA MUDAR O FORM */

#seta-direita {
    position: absolute;
    right: -3rem;
    top: 37%;
    font-size: 2rem;
    color: #cf8a3f;
    cursor: pointer;
}

#seta-esquerda {
    position: absolute;
    left: -2rem;
    top: 37%;
    font-size: 2rem;
    color: #cf8a3f;
    cursor: pointer;
    display: none;
}

#seta-direita-instituicao {
    position: absolute;
    right: -3rem;
    top: 37%;
    font-size: 2rem;
    color: #4567a5;
    cursor: pointer;
}

#seta-esquerda-instituicao {
    position: absolute;
    left: -2rem;
    top: 37%;
    font-size: 2rem;
    color: #4567a5;
    cursor: pointer;
    display: none;
}





.box-img-logo-conecta
{
    position: absolute;
    height: 3.1rem;
    width: 9.8rem;
    object-fit: contain;
    bottom: 10px;
    right: 10px;
}

.box-img-logo-conecta img
{
    width: 100%;
    height: 100%;
}






/* RESPONSIVIDADE */
@media (min-width: 800px) and (max-width: 1288px) {
    .body {
        background-image: url(../img/mao4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #body {
        background-image: url(../img/megafone-tela-menor.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-image {
        display: none;
    }

    .container {
        width: 45rem;
        height: 45rem;
    }

    #primeiro-conteudo-v
    {
        height: 48rem;
    }

    .titulo-cadastro
    {
        margin-top: 0;
    }

    .form {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

}

@media (min-width: 641px) and (max-width: 799px) {
    .body {
        background-image: url(../img/mao4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #body {
        background-image: url(../img/megafone-tela-menor.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        width: 100vw;
        height: 45rem;
    }

    .form-image {
        display: none;
    }

    .form {
        /* background-color: #a4c2db; */
        width: 100%;
    }

    .formulario-completo {
        width: 40rem;
        padding-bottom: 1.4rem;
    }
}

@media (max-width: 640px) {
    .body {
        overflow: auto;
        height: auto;
    }

    .form-image {
        display: none;
    }

    .container {
        background-color: #eb71da;
        height: auto;
    }

    .form {
        /* background-color: #80dba6; */
        width: 100%;
    }

    .select-button {
        margin-bottom: 1rem;
    }

    .formulario-completo {
        max-width: 100%;
        /*height: 80vh; */
        /* background-color: #dbc95f; */
    }

    .input-group {
        justify-content: center;
        padding-left: 0;
        margin-right: 0;
    }

    .input-box
    {
        margin-right: 0;
    }

    .input-box input,
    .input-box select,
    #input-box-switch,
    #input-box-termos {
        width: 80vw;
        margin-bottom: 1.5rem;
    }

    #input-box-switch
    {
        margin-bottom: 1rem;
    }

    .switch-container .input-switch
    {
        width: 0;
    }

    #input-group-v, #primeiro-conteudo-v, .input-group
    {
        height: auto;
    }
    .continue-button button 
    {
        margin-top: 0;
    }
    .continue-button,
    #continue-button {
        margin-bottom: 2rem;
    }


    #seta-direita,
    #seta-esquerda,
    #seta-direita-instituicao,
    #seta-esquerda-instituicao
    {
        display: none;
    }

    .box-img-logo-conecta
    {
        position: inherit;
        right: 0px;
    }

    .titulo-cadastro
    {
        font-size: 2.2rem;
        margin: 3.5rem 1.6rem 0rem 1.6rem;
    }
}

@media (max-width: 346px) {
    .select-button {
        flex-direction: column;
    }

    #botao-dados-pessoais {
        border-right: 1px solid #232e61;
        border-bottom: none;
    }

    #seta-direita {
        display: none;
    }

    #seta-esquerda {
        display: none;
    }

    #seta-direita-instituicao {
        display: none;
    }

    #seta-esquerda-instituicao {
        display: none;
    }
}


/* DIMINUINDO FONTE COM BASE NA ALTURA */
@media (max-height: 700px) {
    .titulo-cadastro {
        font-size: 2rem;
    }

    .select-button,
    .input-box label {
        font-size: 13px;
    }

    .input-box input,
    .input-box select {
        padding-top: 0.5rem;
    }

    .continue-button button {
        font-size: 1.2rem;
    }

    .continue-button a {
        font-size: 0.9rem;
    }
    #input-box-switch
    {
        margin-right: 4rem;
    }
}
@media(max-width: 422px) 
{
    .select-button, #select-button
    {
        flex-direction: column;
    }
    .input-group
    {
        padding-top: 13%;
    }
}