

.conteudo-completo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-botoes
{
    display: flex;
    gap: 1rem;
    align-self: flex-start;
    margin-left: 5rem;
}

.fundo-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffdbac;
    border: 1px solid #000;
    transition: all 0.5s ease;
}

.fundo-icon:hover
{
    background-color: #ffbf6c;
}

.box-img-icon
{
    width: 25px;
    height: 25px;
}

.box-img-icon img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* MSG NO HOVER */
.box-icon, .box-icon-tabela
{
    position: relative;
}    

.box-info, .box-info-t
{
    display: none;
    background-color: #fff;
    border: 1px solid #c2893e;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: absolute;
    top: -2.7rem;
    left: -0.6rem;
}

.box-info-t
{
    left: -1rem;
}








/* TÍTULO 1 */
.container-titulo-1.c
{
    margin: 1rem 0rem 3rem 0rem;
}
.container-titulo-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0rem 3rem 0rem;
    gap: 0.8rem;
    max-width: 80%;
}

.titulo-voluntarios
{
    font-family: acme, sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #2e2e2e;
    text-align: center;
}

.frase-voluntarios
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: justify;
}








/* TABELA */
.table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #b9c7e0; */
}

.table-responsive-v {
    width: 759px;
    height: 358px;
    border-radius: 0.5rem;
    border: 1px solid #4567a5;
    box-shadow: 5px 5px 5px #b4d8e6;
    background-color: #fff;
}

.funcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 78px;
}

.funcoes-sessao-1 {
    display: flex;
    margin-left: 1.7rem;
    align-items: center;
    gap: 0.5rem;
}

.funcoes span {
    color: #525252;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
}

/* ESTILIZANDO CHECKBOX */
input[type="checkbox"] {
    /* ZERAR CONFIGURAÇÃO PADRÃO */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #4567a5;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    color: #fff;
    background-color: #4567a5;
    text-align: center;

    line-height: 13px;
    font-size: 13px;
}


#icone-x {
    margin-left: 0.5rem;
}

.funcoes-sessao-2 {
    display: flex;
    margin-right: 1.7rem;
    align-items: center;
}

.funcoes i {
    color: #4567a5;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.funcoes i:hover {
    color: #88a2d4;
}

#icon-lupa {
    font-size: 16px;
}

.funcoes #pesquisar {
    border: none;
    border-bottom: 1px solid #88a2d4;
    outline: none;
    padding: 0.2rem 0rem 0.2rem 0rem;
    transition: all 0.2s ease;

    /* font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2e2e2e; */
}


#pesquisar::placeholder {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #727272;
}

.table-responsive-v table {
    border-collapse: collapse;
    border-spacing: 0;
}




thead tr {
    display: block;
    width: 100%;
}

.table-responsive-v th {
    font-weight: 500 !important;
}

/* TAMANHO DE CADA TH e TD PARA FICAREM ALINHADOS UM COM O OUTRO*/
.td-table-c a
{
   color: #2e2e2e;
   transition: all 0.5s ease;
}

.td-table-c a:hover
{
   color: #cf9c3c;
}

th:nth-child(1),
.td-table-c:nth-child(1)
{
    min-width: 160px;
    border-left: none !important;
}

th:nth-child(2),
.td-table-c:nth-child(2)
{
    max-width: 159px;
    min-width: 159px;
}

.td-table-c:nth-child(2)
{
    padding-left: 9px;
    padding-right: 9px;
}

th:nth-child(3),
.td-table-c:nth-child(3)
{
    width: 130px;
}

.td-table-c:nth-child(4),
th:nth-child(4),
th:nth-child(5),
.td-table-c:nth-child(5)
{
    max-width: 90px;
    min-width: 90px;
}

th:nth-child(6)
{
    width: 129px;
    border-right: none !important;
}

.td-table-c:nth-child(6)
{
    width: 112px;
    border-right: none !important;
}



/* 
.td-table-c:nth-child(4)
{
    width: 120px;
    padding: 0rem 1rem 0rem 1rem;
    border-top: none !important;
} */




/* TABLE REQUISIÇÃO */
.td-table-r:nth-child(1)
{
    /* min-width: 160px;
    max-width: 160px; */
    width: 160px;
    border-left: none !important;
}

.td-table-r:nth-child(2)
{
    /* min-width: 120px;
    max-width: 120px; */
    width: 120px;

}

.td-table-r:nth-child(3)
{
    /* min-width: 120px;
    max-width: 120px; */
    width: 120px;
    padding: 0rem 1rem 0rem 1rem;
    border-top: none !important;
}



th {
    height: 38px;
}
td
{
    height: 60px;
}


/* TIRANDO BORDA DE CIMA*/
td
{
    border-top: none !important;
}



tbody {
    display: block;
    width: 100%;
    height: 239px;
    overflow-y: scroll;
}

/* SCROLL */
/* width */
tbody::-webkit-scrollbar, .table-responsive-v::-webkit-scrollbar
{
    width: 12px;
}

.table-responsive-v::-webkit-scrollbar
{
    height: 12px;
}

/* Track */
tbody::-webkit-scrollbar-track, .table-responsive-v::-webkit-scrollbar-track 
{
    background-color: #d7e0f0;
    border-radius: 0px 0px 0.5rem 0px;
}

/* Handle */
tbody::-webkit-scrollbar-thumb, .table-responsive-v::-webkit-scrollbar-thumb
{
    background-color: #4567a5;
    border-radius: 0.5rem;
    border: 2px solid #d7e0f0;
}

.table-responsive-v th,
.table-responsive-v td {
    border: 1px solid #4567a5;
    /* padding: 0px 20px 0px 20px; */
    text-align: center;
    color: #2e2e2e;
    font-family: poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* IMAGEM */
.box-img-lista {
    width: 50px;
    height: 50px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 50%;
}

.box-img-lista img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

td button
{
    width: 5rem;
    height: 2.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;

    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 15px;
    background-color: #fff;
    color: #fff;
    text-transform: uppercase;
}

.table-btn-chamar
{
    background-color: #4567a5;
    border: 1px solid #4567a5;
}

.table-btn-chamar:hover
{
    background-color: #fff;
    color: #4567a5;
}

.table-btn-rejeitar
{
    background-color: #af4141;
    border: 1px solid #af4141;
}

.table-btn-rejeitar:hover
{
    background-color: #fff;
    color: #af4141;
}







/* TABELA 2 */
.box-status
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.status-bolinha{
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 50%;

}

.status-bolinha-pendente
{
    background-color: #ffec41;
}

.status-bolinha-aceito
{
    background-color: #0bfc1f;
}

.status-bolinha-recusado
{
    background-color: #ff0404;
}




#td-icone-chat
{
    font-size: 27px;
    color: #4567a5;
    cursor: pointer;
    transition: all 0.5s ease;
}

#td-icone-chat:hover
{
    color: #8dbfd3;
}

#tabela-icone-avaliacao
{
    font-size: 27px;
    color: #cf8a3f;
    transition: all 0.5s ease;
    cursor: pointer;
}

#tabela-icone-avaliacao:hover
{
    color: #f1c595;
}



.link-vagas-preenchidas
{
    background-color: #fff !important;
    color: #4567a5 !important;
    font-family: poppins, sans-serif;
    font-weight: 500 !important;
    font-size: 14px !important;
    cursor: pointer;
    transition: all 0.5s ease;
    text-transform: capitalize !important;
    width: 100px;
}

.link-vagas-preenchidas:hover
{
    color: #d19d59 !important;
}




/* RESPONSIVIDADE */
@media(max-width: 813px)
{
    .container-botoes
    {
        margin-top: -2rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 897px)
{
    .container-titulo-1
    {
        max-width: 91%;
    }
    .container-botoes
    {
        margin-left: 2.5rem;
    }
}

@media(max-width: 639px)
{
    .container-botoes
    {
        margin-left: 2rem;
    }
    .fundo-icon
    {
        width: 45px;
        height: 45px;
    }
    .box-img-icon
    {
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 535px)
{
    .container-titulo-1 h2
    {
        font-size: 22px;
    }
    .container-titulo-1 p
    {
        font-size: 14px;
    }
    .container-botoes
    {
        align-self: center;
        margin-left: 0;
        gap: 0.7rem;
    }
}

@media(max-width: 494px)
{
    .table-responsive-v
    {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .body
    {
        overflow-x: hidden;
    }
    .table-responsive-v
    {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
@media(max-width: 418px)
{
    .container-titulo-1 h2
    {
        font-size: 20px;
    }
    .container-titulo-1 p, .table-responsive-v th, .table-responsive-v td
    {
        font-size: 12px;
    }
    .fundo-icon
    {
        width: 40px;
        height: 40px;
    }
    .box-img-icon
    {
        width: 19px;
        height: 19px;
    }
    th:nth-child(1),
    td:nth-child(1)
    {
        min-width: 130px;
        max-width: 130px;
    }

    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3)
    {
        min-width: 100px;
        max-width: 100px;
    }
    td button
    {
        font-size: 14px;
        height: 1.9rem;
        width: 4.7rem;
    }
    .funcoes
    {
        height: 60px;
    }
    .funcoes i
    {
        font-size: 20px;
    }
    .funcoes #pesquisar
    {
        width: 9rem;
    }
    #pesquisar::placeholder
    {
        font-size: 11px;
    }
    #icon-lupa
    {
        font-size: 14px;
    }
}


@media(max-width: 352px) 
{
    .funcoes-sessao-1
    {
        margin-left: 1rem;
    }    
    .funcoes-sessao-2
    {
        margin-right: 1rem;
    }
}






