
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}

/*Header*/
header {
    background-color: #F5DEB3;
    padding: 1.5%;
    width: 100vw;
}

.navigation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: acme, sans-serif;
}

.navigation-header a {
    text-decoration-line: none;
    display: flex;
    align-items: center;
    color: #113173;
}

.navigation-header a :hover {
    color: #4567a5;
}

main {
    display: flex;
    border: solid 1px #113173;
    width: 100vw;
    height: 100vh;
}

.title {
    margin: 1%;
    font-family: ACME;
    font-weight: 400;
    color: #113173;
    font-size: 16pt;
}


.navigation-left {
    font-family: Poppins, sans-serif;
    font-size: medium;
    position: relative;
    height: 500px;
    width: 30%;

}

.navigation-left ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: left 5px;
    padding-top: 40px;
}

.navigation-left ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navigation-left ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #113173;
}

.navigation-left ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation-left ul li a .icon i {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation-left ul li a .title-nav {
    position: relative;
    display: block;
    padding-left: 15px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.form{
    width: 80%;
    height: auto;
    border-left: #113173 solid 1px ;
    font-family: Poppins, sans-serif;
}
.container{
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.form-header{
    margin-bottom: 1.5rem;
}
.form-title h4{
    font-size: 12pt;
    font-weight: 200;
}

.input-group{
    display: flex;
;
    flex-direction: column;
}
.input-box{
    display: flex;
    flex-direction: row;
    justify-content: safe;
    gap: 5%;
}
.input-box label{
    display: flex;
}

.input-box input {
    width: 15vw;
    border: solid 1px #113173;
}

.input-box select {
    width: 15vw;
    border: solid 1px #113173;
}

.input-box div ::placeholder{
    font-size: 1rem;
    font-family: Poppins, sans-serif;
}

.continue-button {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button button {
    background-color: #113173;
    border: 1px solid #113173;
    border-radius: 2px;
    color: #fff;
    font-size: 14pt;
    font-family: poppins, sans-serif;
    padding: 3px;
}

.continue-button button:hover {
    background-color: #fff;
    border: solid 1px #113173;
    transition: all 0.3s ease;
}

.continue-button button a{
    text-decoration-line: none;
    color: #fff;
}
.continue-button button a:hover{
    color: #113173;
}
