@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');

*
{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration-line: none;
    list-style: none;
}
.form{
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 3%;
    display: flex;
   
    flex-direction: column;
}
.input-group{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.input-box{
    width: 100%;
    height: 100%;
    line-height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.5%;
}

.input-box label{
    display: flex;
    color: #525252;
    font-size: 14px;
}

.input-box input {
    outline: none;
    padding: 8px;
    border: solid 1px #4567a5;
    font-weight: 500;
}

/*.input-box select {
    outline: none;
    padding: 8px;
    width: 15vw;
    border: solid 1px #113173;
}*/

.input-box textarea{
    outline: none;
    border: #4567a5 solid 1px;
    resize: none;
}

.input-box input,textarea::placeholder{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #525252;
}
.input-box .div-image {
    width: 22vw;
    height: 16.5vh;
    background-color: #cfe4fb;
    border: solid 1px #4567a5;
    margin-top: 25px;
}
.input-box .div-image .image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box .div-image .image img{
    width: auto;
    height: 100%;
    object-fit: cover;
}
#nome, #email, #telefone, #telefone-2, #log {
    width: 30vw;
}
#num{
    width: 8vw;
}
#bairro, #cep, #cidade, #pais, #comp, #uf, #foto, #label {
    width: 19vw;
}
#label{
    border: solid 1px #113173;
    background-color: #cfe4fb;
    display: flex;
    justify-content: center;
}
#foto{
    display: none;
}
#desc{
    width: 40.8vw;
    height: 15.5vh;
    overflow-y: scroll 2px;
    padding: 5px;
    /* height="87px" width="503px"*/
}

.continue-button {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button button {
    background-color: #113173;
    border: 1px solid #113173;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 16pt;
    font-family: poppins, sans-serif;
    padding: 0.8%;    
    border: solid 1px #113173;
    transition: all 0.3s ease;
    width: 8rem;
}

.continue-button button:hover {
    background-color: #fff;
}

.continue-button button a{
    text-decoration-line: none;
    color: #fff;
}
.continue-button button a:hover{
    color: #113173;
}








/* RESPONSIVIDADE */
/*FORMULARIO*/

@media (max-width: 768px){
    .input-group{
        width: 100%;
    }
    .input-box{
        display: flex;
        flex-direction: column;
    }
    #num,#bairro, #cep, #cidade, #pais, #comp, #uf, #foto, #desc, #nome, #email, #telefone, #telefone-2, #log, #label{
        width: 50vw;
    }
    .input-box .div-image{
        border: none;
        background-color: #fff;
        width: 20vw;
    }
    .input-box .div-image .image img{
        margin-bottom: 50px;
    }
}

@media (max-width: 450px){
    .container{
        width: 100%;
        height: auto;
    }
    .input-box{
        display: flex;
        flex-direction: column;
    }
    .input-box .div-image .image img{
        width: 100px;
        height: 100px;
    }
    #num,#bairro, #cep, #cidade, #pais, #comp, #uf, #foto, #desc, #nome, #email, #telefone, #telefone-2, #log, #label{
        width: 50vw;
    }
    
}