

#label{
    border: solid 1px #4567a5;
    background-color: #cfe4fb;
    height: 2.5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: poppins, sans-serif;
    color: #2e2e2e;
    font-size: 14px;
}

#label:hover{
    background-color: #4567a5;
    color: #fff;
}

#foto
{
    visibility: hidden;
    width: 0;
    height: 0;
}

/* GALERIA FOTOS */
.container-fotos
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens-intituicao
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.galeria 
{
    width: 60rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
    margin-top: 8%;
}

.conteudo-foto
{
    position: relative;
    transition: all 0.4s ease;
    width: 18.7rem;
    height: 18.7rem;
}

.conteudo-foto:hover > .visualizar-btns
{
    /* display: flex; */
    opacity: 1;
}

.conteudo-foto.sem-hover
{
    pointer-events: none;
}

.box-img
{
    transition: all 0.4s ease;
    cursor: pointer;
}

.box-img img
{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #000;   
}

.conteudo-foto:hover
{
    transform: translateY(-10px);
}

.visualizar-btns
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    opacity: 0;
}

.btn-visualizar, .btn-excluir
{
    width: 6rem;
    height: 2.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid #fff;

    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.btn-visualizar
{
    background-color: #4567a5;
    /* border: 1px solid #4567a5; */
}

.btn-visualizar:hover
{
    background-color: #fff;
    color: #4567a5;
}

.btn-excluir
{
    background-color: #af4141;
    /* border: 1px solid #af4141; */
}

.btn-excluir:hover
{
    background-color: #fff;
    color: #af4141;
}













/* MODAL */
.container-modal-foto
{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;  
    min-height: 100vh;
    z-index: 1000; 
    position: fixed;
    display: none;
}

.modal-foto
{
    width: 40rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: #ffffff;
    position: fixed;
    z-index: 1001; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-icon-fechar
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 1rem 0rem 0rem;
}
#icone-fechar-modal
{
    position: absolute;
    top: 11px;
    right: 11px;
    font-size: 18px;
    color: #525252;
    cursor: pointer;
    transition: all 0.5s ease;
}

#icone-fechar-modal:hover
{
    color: #90abdf;
}

.box-modal-foto-titulo
{
    margin-bottom: 1rem;
}

.box-modal-foto-titulo h2
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2e2e2e;
}

.div-image
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 90%;
    height: 60%;
    overflow-y: auto;
}


/* SCROLL */
/* width */
.div-image::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
}


/* Track */
.div-image::-webkit-scrollbar-track
{
    background-color: #d7e0f0;
    border-radius: 0.5rem;
}

/* Handle */
.div-image::-webkit-scrollbar-thumb
{
    background-color: #4567a5;
    border-radius: 0.5rem;
    border: 2px solid #d7e0f0;
}



.box-img-foto
{
    width: 10rem;
    height: 10rem;
    border: 1px solid #000;
}

.box-img-foto img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-adicionar-foto 
{
    background-color: #4567a5;
    border: 1px solid #4567a5;
    border-radius: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    margin-bottom: 2rem;

    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: poppins, sans-serif;
    transition: all 0.3s ease;
}

.btn-adicionar-foto:hover {
    background-color: #fff;
    color: #4567a5;
}