@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

*
{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration-line: none;
    list-style: none;
}



/* NAVBAR */
.cabecalho
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3rem 3rem;
    align-items: center;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    /* padding: 1.5rem; */
    background-color: #232f61;
    position: fixed;
    z-index: 31;
}
.logo
{
    justify-self: start;
    width: 170px;
    height: 50px;
    margin-left: 1.6rem;
    margin-top: 2.3rem;
}
.logo img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.topicos-sessao-completa
{
    display: flex;
    align-items: center;
    padding-top: 2.9rem;
}
.topicos
{
    width: 100%;
    display: flex;
    gap: 3rem;
    list-style: none;
}
#topicos-icon-fixo
{
    display: none;
}
#topicos-maozinha
{
    opacity: 0;
    transition: all 0.5s ease;
    color: #000000;
    font-size: 30px;
}
.cabecalho-menu-item 
{
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
}
.cabecalho-menu-item:hover
{
    color: #f0a376;
}

.cabecalho-menu-item i, .topicos li i 
{
    color: #fff;
    margin-right: 0.4rem;
    font-size: 18px;
    transition: all 0.5s ease;
}
.cabecalho-menu-item i:hover
{
    color: #f0a376;
} 

#check
{
    display: none;
}
.checkbtn 
{
	font-size: 25px;
	color: #fff;
	/* float: right; */
	/* line-height: 80px; */
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

.box-sininho
{
    position: relative;
}
.nova-notificacao-bolinha
{
    width: 11px;
    height: 11px;
    background-color: #6890e0;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 2px;
}

#icone-notificacao-aceita
{
    color: #1ea41e;
    margin-left: 0.4rem;
}
#icone-notificacao-recusada
{
    color: #c53131;
    margin-left: 0.4rem;
}
.box-icone-notificacao
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #4567a5;
    margin-left: 0.4rem;
}
#icone-notificacao-nova
{
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 4px;
    left: 5px;
}

/* DROP DOWN */
.topicos-sessao-login 
{
    /* display: flex; */
    /* justify-self: end; */
    width: 10rem;
    /* overflow: hidden; */
    word-wrap: break-word;
    margin-right: 2rem;
}
.topicos-sessao-login li
{
    list-style: none;
}
.topicos-sessa-login-linha
{
    position: relative;
   
}
.box-topicos-sessao-login-linha
{
    display: flex;
}
.box-topicos-sessao-login-linha i 
{
    color: #fff;
    font-size: 18px;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.box-topicos-sessao-login-linha i:hover
{
    color: #f0a376;
}
.sub-topicos-sininho
{
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: 1px solid #232f61;
    right: 0rem;
    top: 6rem;
    width: 15rem;
    height: 18rem;
    overflow-y: auto;
}
.sub-topicos-sininho.sem-resultado
{
    justify-content: center;
    align-items: center;
}

.sub-topicos-sininho.sem-resultado li
{
    border-bottom: none;
}

.sub-topicos-sininho.sem-resultado li:hover
{
    background-color: #fff;
}

.sub-topicos-sininho-linha-sem-resultado
{
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
    margin: 1rem;
}

/* SCROLL */
.sub-topicos-sininho::-webkit-scrollbar 
{
    width: 11px;    
}

.sub-topicos-sininho::-webkit-scrollbar-track
{
    background: #dce5f7;       
    border-radius: 0.8rem;  
}

.sub-topicos-sininho::-webkit-scrollbar-thumb 
{
    background-color: #4567a5;  
    border-radius: 20px;     
    border: 2px solid #dce5f7;   
    transition: all 0.5s ease;
}
.sub-topicos-sininho li
{
    border-bottom: 1px solid #9ba8e0;
    padding: 1rem 0.5rem 1rem 1rem;
    transition: all 0.5s ease;
}
.sub-topicos-sininho li:hover
{
    background-color: #dff1ff;
}
/* .sub-topicos-sininho li:last-child
{
    border-bottom: none;
} */
.sub-topicos-sininho-linha
{
    display: flex;
    flex-direction: column;
    gap: 0.3rem; 
}

.sub-topicos-sininho-linha-titulo
{
    font-family: poppins, sans-serif;
    color: #2e2e2e;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
    display: flex;
}
.sub-topicos-sininho-linha-frase
{
    font-family: poppins, sans-serif;
    color: #525252;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-topicos 
{
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: 1px solid #232f61;
    right: 0rem;
    top: 6rem;
    /* cima, direita, baixo, esquerda */
    padding: 1rem 2rem 0.5rem 2rem;
}
.sub-topicos li
{
    list-style: none;
    height: 2rem;
    width: 8rem;
    transition: all 0.5s ease;
}

.sub-topicos li a
{
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #252d51;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-topicos li a:hover
{
    color: #e67635;
}

#nav-seta-sub-topicos
{
    cursor: pointer;
    font-size: 25px;
    margin-left: 0.5rem;
    position: absolute;
    color: #fff;
    /* background-color: #4567a5; */
}




/* TÍTULO */
.container-titulo-configuracoes {
    display: flex;
    align-items: flex-end;
    padding: 0rem 0rem 1rem 2rem;
    border-bottom: 1px solid #113173;
    width: 100%;
    height: 10rem;
    position: fixed;
    z-index: 9;
    background-color: #fff;
    /* display: none; */
}

.container-titulo-configuracoes h1 {
    font-family: acme, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #113173;
}








/* NAV LATERAL */
.nav-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11rem 0rem 2rem 2rem;
    left: 0;
    width: 17rem;
    height: 100vh;
    position: fixed;
    overflow: hidden;

    background-color: #fff;
    border-right: 1px solid #113173;
    border-top: none;
    transition: all 0.5s ease;
    /* opacity: 0.3; */
    z-index: 8;
}

.nav-lateral-sessao-um {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.nav-lateral-box-icon {
    display: flex;
}

.nav-lateral i {
    color: #113173;
    font-size: 25px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.nav-lateral i:hover,
.nav-lateral-box-icon a:hover {
    color: #6890e0;
}

#nav-lateral-icon-lista {
    font-size: 30px;
}

#nav-lateral-icon-excluir {
    font-size: 30px;
    margin-left: 2px;
}

.nav-lateral-topico {
    margin-left: 0.6rem;
    width: 11rem;
    opacity: 1;
    transition: all 0.5s ease;
}

.nav-lateral-box-icon a {
    display: flex;
    align-content: center;
    font-family: poppins, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #113173;
}

.nav-lateral-sessao-dois {
    display: flex;
    align-content: flex-end;
}

#nav-lateral-icon-sair {
    font-size: 20px;
}








/* CONTEÚDO DA PÁGINA */
.main-conteudo {
    transition: all 0.5s ease;
    background-color: #ffffff;

    /* AJUSTEI DESSA FORMA PRA QUE TODA A MAIN NÃO FIQUE ENTRANDO DENTRO DAS NAVS */
    margin-left: 17rem;
    padding-top: 10rem;
    padding-bottom: 4rem;
}


/* TESTE */
/* .uau
{
    background-color: #f0a376;
    min-width: 50%;
    height: 10rem;
} */





/* TÍTULO E FRASE */
.main-conteudo-container-titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
    padding-top: 2rem;
    gap: 0.7rem;
    margin-bottom: 4rem;

}

.main-conteudo-container-titulo h1 {
    font-family: acme, sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    color: #000000;
}

.main-conteudo-container-titulo p {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    max-width: 95%;
}









/* RESPONSIVIDADE */
/* NAVBAR */
@media (max-width: 1579px) {
    .cabecalho {
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 1120px) {
    .cabecalho {
        grid-template-columns: 1fr 3.5fr;
    }
}

@media (max-width: 1034px) {
    .topicos {
        gap: 2rem;
    }
}

@media (max-width: 1066px) {
    .cabecalho {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .checkbtn {
        display: block;
        justify-self: end;
        margin-top: 2.5rem;
    }

    .topicos-sessao-completa {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 35%;
        height: 100vh;
        background-color: #fff;
        top: 6rem;
        right: -100%;
        transition: all 0.5s ease;
        z-index: 1;
        border-left: 1px solid #232e61;
        margin-top: 0rem;
        padding-top: 0;
    }

    .topicos {
        flex-direction: column;
        gap: 0rem;
    }

    .topicos li,
    .topicos-sessao-login-linha {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 3rem;
        height: 4rem;
        width: 100%;
        transition: all 0.5s ease;
        /* background-color: #eab9f1; */
        position: relative;
    }

    .topicos li:first-child {
        /* height: 5rem; */
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .topicos li:hover,
    .topicos-sessao-login-linha:hover {
        background-color: #dcf4ff;
    }

    #topicos-icon-fixo {
        display: block;
    }

    .topicos-sessao-login {
        flex-direction: column;
        align-items: center;
        /* background-color: #9f85cf; */
        width: 100%;
        margin-top: 0rem;
    }

    .cabecalho-menu-item {
        font-size: 14px;
        color: #232f61;
    }

    /* MÁGIGA INDO PRO LADO */
    #check:checked~.topicos-sessao-completa {
        right: 0;
    }

    #cabecalho-menu-item-login,
    .topicos-sessao-login {
        margin-right: 0;
        margin-left: 0;
    }

    .topicos li a,
    .topicos-sessao-login li a {
        font-size: 14px;
        color: #232f61;
    }

    .sub-topicos {
        background-color: #fff;
        border: none;
        top: 4rem;
        padding-left: 5rem;
        width: 100%;
    }

    #nav-seta-sub-topicos {
        color: #232f61;
    }

    .cabecalho-menu-item i,
    .topicos li i {
        color: #232f61;
    }
    .box-topicos-sessao-login-linha i
    {
        color: #232f61;
    }
}


@media (max-width: 774px) {
    .topicos-sessao-completa {
        width: 50%;
    }
}

@media (max-width: 578px) {
    .topicos-sessao-completa {
        width: 60%;
    }
}

@media(max-width: 539px) {
    .container-titulo-configuracoes {
        padding: 0rem 0rem 0.7rem 1rem;
        height: 9.3rem;
    }

    .container-titulo-configuracoes h1 {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .topicos-sessao-completa {
        width: 100%;
    }

    .topicos li,
    .topicos-sessao-login-linha {
        justify-content: center;
        padding-left: 0rem;
    }

    .logo p {
        margin-left: 2rem;
    }

    .checkbtn {
        margin-right: 30px;
    }

    .sub-topicos {
        align-items: center;
        width: 100%;
    }

}

@media(max-width: 444px) {
    .cabecalho {
        grid-template-rows: 2.5rem 2.5rem;
    }
    .logo
    {  
        width: 166px;
        height: 44px;
        margin-left: 1.3rem;
        margin-top: 2rem;
    }
    .checkbtn {
        font-size: 20px;
    }

    .container-titulo {
        margin-top: 7.5rem;
    }

    .topicos-sessao-completa {
        top: 5rem;
    }

    .container-titulo-configuracoes {
        height: 8.3rem;
    }
}

@media (max-width: 300px) {

    .topicos li a,
    .topicos-sessao-login li a {
        font-size: 13px;
    }

    .topicos li i,
    .topicos-sessao-login li i {
        font-size: 17px;
    }

}







/* NAV LATERAL E CONTEUDO */
@media(max-width: 1048px) {
    .nav-lateral {
        width: 5rem;
        padding-left: 1.5rem;
    }

    .main-conteudo {
        margin-left: 5rem;
    }

    .nav-lateral-topico {
        opacity: 0;
    }
}

@media(max-width: 925px) {
    .main-conteudo-container-titulo p {
        text-align: justify;
    }
}

@media(max-width: 897px) {
    .main-conteudo-container-titulo {
        padding-left: 2rem;
    }
}

@media(max-width: 675px) {
    .nav-lateral {
        width: 4rem;
        padding-left: 1.2rem;
    }

    .nav-lateral-box-icon i,
    #nav-lateral-icon-lista {
        font-size: 22px;
    }

    .main-conteudo-container-titulo {
        padding-left: 1rem;
    }

    .main-conteudo {
        margin-left: 4rem;
    }
}

@media(max-width: 535px) {
    .main-conteudo-container-titulo h1 {
        font-size: 25px;
    }

    .main-conteudo-container-titulo p {
        font-size: 14px;
    }
}

/* @media(max-width: 455px)
{
    .nav-lateral
    {
        width: 4rem;
        padding-left: 1.2rem;
    }
    .nav-lateral-box-icon i, #nav-lateral-icon-lista
    {
        font-size: 22px;
    }
    .main-conteudo-container-titulo
    {
        padding-left: 1rem;
    }
    .main-conteudo
    {
        margin-left: 4rem;
    }
} */

@media(max-width: 444px) {
    .main-conteudo-container-titulo {
        padding-top: 1rem;
    }

    .nav-lateral {
        padding-top: 10rem;
    }
}

@media(max-width: 418px) {
    .main-conteudo-container-titulo p {
        font-size: 12px;
    }

    .main-conteudo-container-titulo h1 {
        font-size: 22px;
    }
}

@media(max-width: 349px) {
    .nav-lateral {
        width: 3rem;
        padding: 10rem 0rem 1rem 0.8rem;
    }

    .nav-lateral-sessao-um {
        gap: 0.8rem;
    }

    .nav-lateral-box-icon i,
    #nav-lateral-icon-lista {
        font-size: 20px;
    }

    #nav-lateral-icon-excluir {
        font-size: 27px;
    }

    .nav-lateral-box-icon a {
        font-size: 13px;
    }

    .main-conteudo-container-titulo {
        padding-left: 1rem;
    }

    .main-conteudo {
        margin-left: 3rem;
    }
}