@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}





/* NAVBAR */
.cabecalho
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3rem 3rem;
    align-items: center;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    /* padding: 1.5rem; */
    background-color: #ffe5ae;
    position: fixed;
    z-index: 1;
}
.logo
{
    justify-self: start;
}
.logo p
{
    font-family: bitter, serif;
    font-size: 50px;
    color: #252d51;
    font-weight: 400;
    margin-left: 3rem;
    margin-top: 2.5rem;
}
.topicos-sessao-completa
{
    display: flex;
    align-items: center;
    padding-top: 2.9rem;
}
.topicos
{
    width: 100%;
    display: flex;
    gap: 3rem;
    list-style: none;
}
#topicos-icon-fixo
{
    display: none;
}
#topicos-maozinha
{
    opacity: 0;
    transition: all 0.5s ease;
    color: #000000;
    font-size: 30px;
}
.cabecalho-menu-item 
{
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #252d51;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
}
.cabecalho-menu-item:hover
{
    color: #e67635;
}

.cabecalho-menu-item i, .topicos li i 
{
    color: #232e61;
    margin-right: 0.4rem;
    font-size: 18px;
    transition: all 0.5s ease;
}
.cabecalho-menu-item i:hover
{
    color: #e67635;
} 

#check
{
    display: none;
}
.checkbtn 
{
	font-size: 25px;
	color: #232e61;
	/* float: right; */
	/* line-height: 80px; */
	margin-right: 40px;
	cursor: pointer;
	display: none;
}



/* DROP DOWN */
.topicos-sessao-login 
{
    /* display: flex; */
    /* justify-self: end; */
    width: 6rem;
    margin-right: 3rem;
}
.topicos-sessao-login li
{
    list-style: none;
}
.topicos-sessa-login-linha
{
    position: relative;
   
}
.sub-topicos 
{
    position: absolute;
    display: none;
    background-color: #ffe5ae;
    right: 0rem;
    top: 5rem;
    /* cima, direita, baixo, esquerda */
    padding: 1rem 2rem 0.5rem 2rem;
}
.sub-topicos li
{
    list-style: none;
    height: 2rem;
    width: 8rem;
    transition: all 0.5s ease;
}

.sub-topicos li a
{
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #252d51;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-topicos li a:hover
{
    color: #e67635;
}

#nav-seta-sub-topicos
{
    cursor: pointer;
    font-size: 20px;
    margin-left: 0.5rem;
    position: absolute;
    /* background-color: #4567a5; */
}
.box-nav-img
{
    width: 70px;
    height: 40px;
    position: absolute;
    opacity: 0;
}
.box-nav-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}







/* TÍTULO E FRASE */
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2.7rem;
}
.container h1 
{
    font-family: Acme, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #252d51;
}
.container p
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-top: 4%;
}









/* CORPO DA PÁGINA*/
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

/* CARD */
.card-completo 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 5px 5px 5px #b4d8e6;
    border: 1px solid #4567a5;
    background-color: #ffffff;
    width: 50rem;
    border-radius: 20px;
    margin-bottom: 5rem;
}

.card 
{
    width: 100%;
    /* max-height: 2rem;
    background-color: #4567a5; */
}

.titulo-card
{
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* background-color: #252d51; */
    margin: 1rem;
    
}

.titulo-card a
{
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: #525252;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.titulo-card a:hover
{
    color: #9f85cf;
}
.icon-titulo-card
{
    display: flex;
    align-items: end;
    gap: 1%;
    width: 100%;
}

.titulo-card h6 {
    font-weight: 600;
    font-size: 16px;
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000000; 
}

.titulo-card i {
    /* margin-right: 1%; */
    font-size: 20px;
}
.seta-ocultar, .seta-ocultar-desc, .seta-ocultar-foto, .seta-ocultar-causa, .seta-ocultar-vaga
{
    font-size: 25px;
    height: 1rem;
    /* background-color: #4567a5; */
    cursor: pointer;
}
.ocultar-sessao, .ocultar-sessao-desc, .ocultar-sessao-foto, .ocultar-sessao-causa, .ocultar-sessao-vaga
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: all 0.7s ease;
}





.dados-pessoais-1 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #c7e4fb;
    padding: 0.5rem;
}
.img-user
{
    width: 60px;
    height: 60px;
}
.img-user img
{
    width: 100%;
    object-fit: cover;
}
.dados-pessoais-1-stars
{
    display: flex;
    gap: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.dados-pessoais-1-stars i
{
    font-size: 20px;
}

.dados-pessoais-1 p {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.topico-icon
{
    display: flex;
    align-items: end;
    gap: 0.6rem;
}

.topico-icon i
{
    color: #9a9a9a;
    font-size: 25px;
}

.topico-icon p
{
    font-weight: 600;
    font-size: 16px;
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.info
{
    display: flex;
}

.topico-endereco
{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #4567a5;
    padding: 1.5rem;
    /* background-color: #4567a5; */
}

.endereco
{
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 1.8rem;
    margin-top: 2.3rem;
}

.topico-contato
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.5rem;
}

.dados-ende-conta
{
    display: flex;
    flex-direction: column;
}
.email-fone p
{
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 2.3rem;
    margin-top: 0.1rem;
}

#topico-email-fone
{
    font-size: 13px;
    font-family: bitter, serif;
    font-weight: 500;
}

#email
{
    margin-top: 1.3rem;
}

#telefone
{
    margin-top: 1.5rem;
}





/* DESCRICAO */
.descricao 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #4567a5;
}

.texto p{
    color: #525252;
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin: 3%;
    line-height: 175%;
}
.texto
{
    margin: 3%;
    margin-top: -3%;
}




/* FOTOS */
.fotos 
{
    border-top: 1px solid #4567a5;
    width: 100%;
    padding-bottom: 1rem;
}
#titulo-card-carrossel
{
    margin-bottom: 0;
}
.content-fotos
{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 15rem;
    height: 15rem;
    
    border: 1px solid #000000;
    /* background-color: #252d51; */
}
.content-fotos img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}







/* CAUSAS */
.causas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #4567a5;
}

.tipo-causas
{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin: 5%;
    padding-left: 1%;
}

.tipo-causas button 
{
    padding: 0.8%;  
    width: 10rem;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    height: 2.5rem;
    transition: all 0.5s ease;
    cursor: pointer;

    /* TEXTO */
    font-size: 16px;
    font-weight: 400;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000000;
}
.tipo-causas button:hover
{
    transform: translateY(-7px);
}
#tipo-causas-1
{
    background-color: #e4fdff;
}
#tipo-causas-1:hover
{
    background-color: #b9edf1;
}
#tipo-causas-2
{
    background-color: #defff1;
}
#tipo-causas-2:hover
{
    background-color: #92facf;
}
#tipo-causas-3
{
    background-color: #f3e1ff;
}
#tipo-causas-3:hover
{
    background-color: #dbb3f5;
}









/* CARROSSEL (CONFIGURAÇÃO PARA OS DOIS)*/
.container-carrossel
{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    /* background-color: #232e61; */
}

.carrossel
{ 
    max-width: 90%;
    padding: 0.7rem;
    min-width: 16rem;
    /* background-color: #42529c; */
}
.slider
{
    overflow-x: auto;
    /* background-color: #687ac9; */
}

.slider::-webkit-scrollbar
{
    display: none;
}

.cards
{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    /* background-color: #99a8eb; */
    padding-top: 0.7rem;
}









/* SETAS CARROSSEL */
.arrow-left-dois, .arrow-right-dois, .arrow-left, .arrow-right 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0rem;
    right: auto;
    bottom: 0;
    width: 2.5rem;
    color: #5f71c2;
    font-size: 20px;
    transition: all 0.5s ease;
    cursor: pointer;  
    /* background-color: #45a56d; */
}

.arrow-left-dois:hover, .arrow-right-dois:hover, .arrow-left:hover, .arrow-right:hover 
{
    color: #a9abee;
}

.arrow-right-dois, .arrow-right 
{
    justify-content: flex-start;
    right: 0rem;
    left: auto;
}



/* CARD CARRROSSEL FOTOS */
.card-carrossel-dois
{
    min-width: 32.5%;
    transition: all 0.4s ease;
    cursor: pointer;
}

.card-carrossel-dois:hover
{
    transform: translateY(-10px);
}













/* VAGAS */
.vagas
{
    border-top: 1px solid #4567a5;
    width: 100%;
    padding-bottom: 2rem;
    /* display: none; */
}

/* CARD CARRROSSEL VAGAS */
.card-carrossel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 32.3%;

    border-radius: 0.6rem;
    border: 1px solid #4567a5;
    background-color: #fff;
    transition: all 0.4s ease;
}

.card-carrossel:hover
{
    transform: translateY(-10px);
}

/* CONTEUDO DO CARD */
.titulo-card-carrossel
{
    font-family: bitter, sans-serif;
    font-size: 22px; 
    font-weight: 700; 
    color: #000000; 
    margin-top: 2.3rem;
    margin-bottom: 1rem;
}

.texto-card p
{
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: #525252;
    font-weight: 400;
}
.texto-card span
{
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}
.texto-card 
{
    text-align: left;
    line-height: 160%;
}

.card-carrossel-botao 
{
    background-color: #4567a5;
    padding: 4%;
    width: 6.2rem;
    border-radius: 0.4rem;
    margin-bottom: 1.5rem; 
    margin-top: 1rem;
    cursor: pointer;
    border: 1px solid #4567a5;

    font-family: poppins, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.card-carrossel-botao:hover
{
    color: #4567a5;
    background-color: #fff;
    border: 1px solid #4567a5;
} 







/* FOORTER */
footer {
    background-image: url(../img/rodape-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-footer {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-sessao
{
    display: flex;
}
.footer-col
{
    margin-right: 8rem;
}
#footer-col-sobre
{
    margin-right: 0;
}

.footer-col h5 {
    padding-bottom: 15%;
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
}

.footer-col ul
{
    list-style: none;
}
#lista-causas 
{
    display: flex;
    gap: 1.5rem;
}

/* .col {
    float: left;
    margin-right: 15%;
} */

.footer-col ul li {
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 3%;
}

.medias-sociais {
    margin-top: 4%;
    margin-bottom: 1.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.medias-sociais a img {
    width: 40px;
}











/* RESPONSIVIDADE */
/* NAVBAR */
@media (max-width: 1579px)
{
    .cabecalho
    {
        grid-template-columns: 1fr 3fr;
    }
}
@media (max-width: 1157px)
{
    .cabecalho
    {
        grid-template-columns: 1fr 4fr;
    }
}
@media (max-width: 1034px)
{
    .logo p
    {
        font-size: 45px;
    }
    .topicos
    {
        gap: 2rem;
    }
}
@media (max-width: 925px)
{
    .cabecalho
    {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
	.checkbtn 
    {
		display: block;
        justify-self: end;
        margin-top: 2.5rem;
	}
	.topicos-sessao-completa
    {
        display: flex;
        flex-direction: column;
		position: fixed;
		width: 35%;
		height: 100vh;
        background-color: #fff;
		top: 6rem;
		right: -100%;
		transition: all 0.5s ease;
        z-index: 1;
        border-left: 1px solid #232e61;
        margin-top: 0rem;
        padding-top: 0;
	}
    .topicos
    {
        flex-direction: column;
        gap: 0rem;
    }
    .topicos li, .topicos-sessao-login-linha
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 3rem;
        height: 4rem;
        width: 100%;
        transition: all 0.5s ease;
        /* background-color: #eab9f1; */
        position: relative;
    }
    .topicos li:first-child
    {
        /* height: 5rem; */
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .topicos li:hover, .topicos-sessao-login-linha:hover
    {
        background-color: #dcf4ff;
    }
    #topicos-icon-fixo
    {
        display: block;
    }
    .box-nav-img
    {
        transition: all 0.5s ease;
        position: absolute;
        right: 0rem;
    }
    .topicos-sessao-completa li:hover .box-nav-img
    {
        opacity: 1;
    }
    .topicos-sessao-login
    {
        flex-direction: column;
        align-items: center;
        /* background-color: #9f85cf; */
        width: 100%;
        margin-top: 0rem;
    }

	.cabecalho-menu-item 
    {
		font-size: 20px;
	}

    /* MÁGIGA INDO PRO LADO */
	#check:checked ~ .topicos-sessao-completa 
    {
		right: 0;
	}

    #cabecalho-menu-item-login, .topicos-sessao-login
    {
        margin-right: 0;
        margin-left: 0;
    }
    .topicos li a, .topicos-sessao-login li a
    {
        font-size: 15px;
    }
    .sub-topicos 
    {
        background-color: #fff;
        top: 4rem;
        padding-left: 5rem;
        width: 100%;
    }
    #nav-seta-sub-topicos
    {
        margin-left: 5rem;
        margin-top: 0.7rem;
    }
}


@media (max-width: 774px)
{
    .topicos-sessao-completa
    {
        width: 50%;
    }
}

@media (max-width: 578px)
{
    .topicos-sessao-completa
    {
        width: 60%;
    }
}
@media (max-width: 500px)
{
    .topicos-sessao-completa
    {
        width: 100%;
    }
} 
@media (max-width: 300px)
{
    .cabecalho
    {
        grid-template-rows: 2.5rem 2.5rem;
    }
    .logo p
    {
        font-size: 40px;
    }
    .topicos li a, .topicos-sessao-login li a
    {
        font-size: 13px;
    }
}









/* CARD E CARROSSEL*/
@media (max-width: 1000px)
{
    .card-completo
    {
        width: 100vw;
        border-radius: 0%;
    }
    .tipo-causas button
    {
        margin-bottom: 0.9rem;
    }
    .carrossel
    { 
        max-width: 80%;
    }
    .arrow-left-dois
    {
        min-width: 3rem;
    }
    .arrow-right-dois 
    {
        min-width: 3rem;
    }
}


/* TESTAR O Q TA BUGANDO A TELA */
@media (max-width: 780px)
{
    .fotos
    {
        /* display: none; */
    }
    .vagas
    {
        /* display: none; */
    }
    footer
    {
        /* display: none; */
    }
    .arrow-left, .arrow-right
    {
        /* display: none; */
    }
    .arrow-left-dois, .arrow-right-dois
    {
        /* display: none; */
    }

}

@media (max-width: 620px)
{
    .info
    {
        flex-direction: column;
    }
    .topico-endereco
    {
        border-right: none;
        border-bottom: 1px solid #4567a5;
        width: 100%;
    }
    .topico-contato
    {
        width: 100%;
    }
    .dados-ende-conta
    {
        flex-direction: row;
    }
    .endereco
    {
        margin-top: 1rem;
    }

    #email
    {
        margin-top: 1rem;
    }
    #telefone
    {
        flex-direction: row;
        margin-top: 1rem;
    }
    .telefones
    {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 585px)
{
    .telefones
    {
        display: flex;
        flex-direction: column;
    }
    #telefone
    {   
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin-right: 3rem;
    }
    .topico-telefone
    {
        margin-right: 5.4rem;
    }

}

@media (max-width: 563px)
{
    .tipo-causas
    {
        justify-content: center;
    }
    .titulo-card
    {
        gap: 2%;
    }
    .container p
    {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 450px)
{
    .dados-ende-conta
    {
        flex-direction: column;
    }
    .titulo-card
    {
        margin-bottom: 2rem;
    }
    #telefone
    {
        align-items: flex-start;
        margin-right: 0rem;
    }
    .topico-telefone
    {
        margin-right: 0rem;
    }  
}







/* CARROSSEL */
@media(max-width: 773px) 
{
     /* FOTOS E VAGAS*/
    .carrossel
    { 
        max-width: 70%;
    }
    .card-carrossel-dois, .card-carrossel
    {
        min-width: 49%;
    }
    .arrow-left-dois, .arrow-right-dois, .arrow-left, .arrow-right 
    {
        min-width: 4rem;
    }
}

@media(max-width: 590px) 
{
    /* FOTOS E VAGAS */
    .carrossel
    { 
        width: 48%;
        /* background-color: #454e9c; */
    }
    .card-carrossel-dois, .card-carrossel
    {
        min-width: 100%;
    }
    .arrow-left-dois, .arrow-right-dois, .arrow-left, .arrow-right 
    {
        min-width: 6rem;
        /* background-color: #adb2e0; */
    }
}
@media (max-width: 488px)
{
    .arrow-left-dois, .arrow-right-dois, .arrow-left, .arrow-right  
    {
        min-width: 4rem;
    }
}
@media (max-width: 411px)
{
    .arrow-left-dois, .arrow-right-dois, .arrow-left, .arrow-right  
    {
        min-width: 2.5rem;
    }
}

@media (max-width: 352px)
{
    .carrossel
    {
        min-width: 14.5rem;
    }
}

@media (max-width: 333px)
{
    .arrow-left-dois, .arrow-right-dois, .arrow-left, .arrow-right 
    {
        justify-content: center;
    }
}
@media (max-width: 300px)
{
    .carrossel
    {
        min-width: 13rem;
    }
    .card-carrossel-dois, .card-carrossel
    {
        height: 13rem;
    }
}






/* RODAPÉ */
@media (max-width: 1507px)
{
    .container-footer 
    {
        margin-top: 12%;
    }
}

@media (max-width: 1320px)
{
    .footer-col h5 
    {
        font-size: 23px;
    }
}

@media (max-width: 1180px)
{
    footer
    {
        background-position: center;
    }
    .container-footer
    {
        justify-content: space-around;
    }
    .footer-sessao
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-col
    {
        margin-right: 0;
    }
    #footer-col-adm
    {
        align-self: flex-start;
    }
    #footer-col-sobre
    {
        align-self: flex-start;
    }
   
    #footer-col-adm li
    {
        margin-bottom: 190%;
    }
    #col-ultima
    {
        margin-bottom: 10%;
    }
    .medias-sociais
    {
        margin-top: 6%;
    }
}

@media (max-width: 811px) 
{
    .container-footer
    {
        margin-top: 15%;
    }
    .footer-col h5 
    {
        font-size: 20px;
    }
    .footer-col ul li
    {
        font-size: 14px;
    }
    .medias-sociais
    {
        margin-top: 9%;
    }
}

@media (max-width: 612px)
{
    .footer-col h5 
    {
        font-size: 18px;
    }
    .footer-col ul li
    {
        font-size: 12px;
    }
    .medias-sociais a img
    {
        width: 35px;
    }
} 

@media (max-width: 500px)
{
    .container-footer
    {
        flex-direction: column;
        align-items: center;
    }
    .footer-sessao
    {
        margin-left: 6%;
    }
    #footer-sessao-1
    {
        padding-right: 6%;
    }
    #footer-col-adm li
    {
        margin-bottom: 0;
    }
    .footer-col
    {
        margin-bottom: 20%;
    }
    #footer-col-causas
    {
        margin-bottom: 10%;
    }
    .medias-sociais
    {
        margin-top: 0;
        margin-bottom: 3%;
    }

    .medias-sociais a img
    {
        width: 33px;
    }
}

@media (max-width: 507px)
{
    .container p
    {
        text-align: center;
    }
    .container h1
    {
        font-size: 37px;
    }
    .titulo-card {
        margin-bottom: 1rem;
    }
}

@media (max-width: 381px)
{
    .container h1
    {
        font-size: 34px;
    }
    .container p
    {
        font-size: 12px;
    }
    .footer-col h5 
    {
        font-size: 16px;
    }
    .footer-col ul li
    {
        font-size: 10px;
    }
    .medias-sociais a img
    {
        width: 30px;
    }
}

@media (max-width: 300px)
{
    .container-footer
    {
        margin-top: 20%;
    }
    .footer-col h5 
    {
        font-size: 14px;
    }
}