@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.container-modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14em;
    font-family: poppins, sans-serif;
}
.modal{
    border: 1px solid #4567a5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 30px;
    border-radius: 0.5rem;
    background-color: #fff;
}
.modal-titulo{
    align-self: flex-start;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000; 
}
.btn-exit{
    margin-top: 10px;   
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn-exit button{
    background-color: #fbf7c7;
    border: 1px solid #000;
    width: 8em;
    height: 2.3rem;
    border-radius: 0.5rem;
    cursor: pointer;

    font-family:  Poppins, sans-serif;
    font-weight: 300;
    font-size: 18px;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

#cancelar:hover{
    background-color: #4567a5;
    border: 1px solid #4567a5;
    color: #fff;
}
#excluir:hover{
    background-color: #af4141;
    border: 1px solid #af4141;
    color: #fff;
}







