@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.divisao-conteudo{
    font-family: poppins, sans-serif;
    font-weight: 400;
    top: 20%;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 10rem;
    font-size: 16px;
    line-height: 30px;
}

.conecta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: acme, sans-serif;
    font-weight: 400;
    color: #113173;
    font-size: 40px;
}

.sobre {
    font-family: poppins, sans-serif;
    font-weight: 400;
    text-align: justify;
    margin: 7% 10% 7% 10%;
}

.divisao-imagem{
    width: 50%;
    height: 50rem;
    margin-top: 6rem;
}

.divisao-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.sobre {
    display: flex;
    top: 100%;
}

footer {
    position: relative;
    padding: 20px;
    margin-top: -250px; 
}

.content {
    position: relative;
    z-index: 1;
}


@media (max-width: 1069px) 
{
    .divisao-imagem
    {
        height: 55rem;
    }
}

@media (max-width: 982px) {
    .conecta {
        font-size: 33px;
    }
    .sobre {
        font-size: 14px;
    }
    .divisao-imagem
    {
        width: 62%;
    }
}

@media (max-width: 907px) {
    .divisao-imagem {
        display: none;
    }
    .divisao-conteudo {
        width: 100vw;
        height: 40rem;
    }
}

@media (max-width: 670px) {
    .divisao-conteudo {
        height: 43rem;
    }
}

@media (max-width: 556px) {
    .sobre {
        font-size: 13px;
        line-height: 25px;
    }
    
}

@media (max-width: 444px) {
    .divisao-conteudo {
        margin-top: 8rem;
    }
}

@media(max-width: 412px) {
    .divisao-conteudo {
        height: 47rem;
    }
}

@media(max-width: 348px) {
    .divisao-conteudo {
        height: 50rem;
    }
}

@media(max-width: 320px)
{
    .conecta
    {
        font-size: 29px;
    }
    .sobre
    {
        line-height: 24px;
    }
}