@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');

*
{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration-line: none;
    list-style: none;
}



/* NAVBAR */
.cabecalho
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3rem 3rem;
    align-items: center;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    /* padding: 1.5rem; */
    background-color: #232f61;
    position: fixed;
    z-index: 1;
}
.logo
{
    justify-self: start;
}
.logo p
{
    font-family: poppins, sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-left: 3rem;
    margin-top: 2.5rem;
}
.topicos-sessao-completa
{
    display: flex;
    align-items: center;
    padding-top: 2.9rem;
}
.topicos
{
    width: 100%;
    display: flex;
    gap: 3rem;
    list-style: none;
}
#topicos-icon-fixo
{
    display: none;
}
#topicos-maozinha
{
    opacity: 0;
    transition: all 0.5s ease;
    color: #000000;
    font-size: 30px;
}
.cabecalho-menu-item 
{
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
}
.cabecalho-menu-item:hover
{
    color: #f0a376;
}

.cabecalho-menu-item i, .topicos li i 
{
    color: #fff;
    margin-right: 0.4rem;
    font-size: 18px;
    transition: all 0.5s ease;
}
.cabecalho-menu-item i:hover
{
    color: #f0a376;
} 

#check
{
    display: none;
}
.checkbtn 
{
	font-size: 25px;
	color: #fff;
	/* float: right; */
	/* line-height: 80px; */
	margin-right: 40px;
	cursor: pointer;
	display: none;
}



/* DROP DOWN */
.topicos-sessao-login 
{
    /* display: flex; */
    /* justify-self: end; */
    width: 6rem;
    margin-right: 3rem;
}
.topicos-sessao-login li
{
    list-style: none;
}
.topicos-sessa-login-linha
{
    position: relative;
   
}
.sub-topicos 
{
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: 1px solid #232f61;
    right: 0rem;
    top: 6rem;
    /* cima, direita, baixo, esquerda */
    padding: 1rem 2rem 0.5rem 2rem;
}
.sub-topicos li
{
    list-style: none;
    height: 2rem;
    width: 8rem;
    transition: all 0.5s ease;
}

.sub-topicos li a
{
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: #252d51;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-topicos li a:hover
{
    color: #e67635;
}

#nav-seta-sub-topicos
{
    cursor: pointer;
    font-size: 25px;
    margin-left: 0.5rem;
    position: absolute;
    color: #fff;
    /* background-color: #4567a5; */
}










body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TÍTULO E FILTROS */
.container-titulo
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
    max-width: 70%;
}

.titulo
{
    font-family: Acme, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #252d51;
    margin-bottom: 1.6rem;
}

.frase
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}








/* FILTROS */
.form-filtro
{
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
    align-items: flex-end;
}

.box-filtro-causas
{
    position: relative;
}
.filtro-causas, #estados, #cidades
{
    background-color: #fbf7c7;
    border: 1px solid #000000;
    width: 11rem;
    height: 2.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;

    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
}

.filtro-causas
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro-causas:hover
{
    border: 1px solid #cf8a3f;
    background-color: #cf8a3f;
    color: #fff;
}

.box-causas
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    min-width: 11rem;
    max-height: 15.3rem;
    border: 1px solid #cf8a3f;
    padding: 1rem;
    gap: 0.8rem;
    position: absolute;
    top: 3rem;
    display: none;
    overflow-y: scroll;
}

/* SCROLL */
.box-causas::-webkit-scrollbar, #estados::-webkit-scrollbar, #cidades::-webkit-scrollbar 
{
    width: 11px;    
}

.box-causas::-webkit-scrollbar-track
{
    background: #f7ebdc;       
    border-radius: 0.8rem;  
}

.box-causas::-webkit-scrollbar-thumb, #estados::-webkit-scrollbar-thumb, #cidades::-webkit-scrollbar-thumb 
{
    background-color: #cf8a3f;    
    border-radius: 20px;     
}

#estados::-webkit-scrollbar-track, #cidades::-webkit-scrollbar-track 
{
    background: #f7ebdc;       
}

/* ESTILIZANDO CHECKBOX */
#causas[type = "checkbox"]
{
    /* ZERAR CONFIGURAÇÃO PADRÃO */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #525252;
    outline: none;
    cursor: pointer;
}
#causas[type = "checkbox"]:checked::before
{
    content: '\2713';
    display: block;
    color: #fff;
    background-color: #cf8a3f;   
    text-align: center;
   
    line-height: 13px;
    font-size: 13px;
}

.box-causas-checkbox
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.box-causas-checkbox label
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #525252;
}


/* ESTILIZANDO SELECT */
#estados, #cidades
{
    /* ZERAR CONFIGURAÇÃO PADRÃO */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: transparent;  */
    border: none; 
    outline: none; 
    padding: 0; 
    margin: 0; 
    box-shadow: none;
    
    /* ESTILIZAÇÃO */
    border: 1px solid #000; 
    /* height: 2.5rem; */
    /* width: 12rem; */
    padding: 0rem 1rem 0rem 1rem;
    outline: none;
    overflow: hidden; 
    text-overflow: ellipsis;
}

#estados:focus, #cidades:focus
{
    background-color: #cf8a3f;
    border: 1px solid #cf8a3f;
    color: #fff;
}

#estados:hover, #cidades:hover
{
    border: 1px solid #cf8a3f;
    background-color: #cf8a3f;
    color: #fff;
}

.select-option
{
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
}

.select-option:hover
{
    background-color: #c59263 !important;
}





/* LISTA */
.lista-voluntario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2e2e2e;
    border-radius: 0.5rem;
    margin: 4rem;
    margin-bottom: 9rem;
    width: 58rem;
}


.lista-voluntario-linha
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    gap: 3.5rem;
    padding: 1rem 2rem 1rem 2rem;
    transition: all 0.5s;
    width: 100%;
}

.lista-voluntario-linha:hover
{
    background-color: #fcdeb7;
}

.lista-voluntario-linha:last-child
{
    border-bottom: none;
}

.lista-voluntario-linha div
{
    display: flex;
    align-items: center;
}
.lista-voluntario-linha p
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.lista-item-1
{
    gap: 1rem;
}

#idade
{
    margin-left: 1.5rem;
}

#localizacao, #email
{
    gap: 0.3rem;
}

#localizacao i, #email i
{
    font-size: 20px;
    color: #000;
}

.box-img
{
    width: 4rem;
    height: 4rem;
}

.box-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}










/* FOORTER */
footer 
{
    background-image: url(../img/rodape-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-footer 
{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-sessao
{
    display: flex;
}
.footer-col
{
    margin-right: 8rem;
}
#footer-col-sobre
{
    margin-right: 0;
}

.footer-col h5 
{
    padding-bottom: 15%;
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
}

.footer-col ul
{
    list-style: none;
}
#lista-causas 
{
    display: flex;
    gap: 1.5rem;
}

.footer-col ul li 
{
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 3%;
    transition: all 0.5s ease;
}

.footer-col a li:hover
{
    color: #f0a376;
}

/* ESTILIZANDO ICONES */
.midias-sociais 
{
    margin-top: 4%;
    margin-bottom: 1.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-icon
{
    text-align: center;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px solid #232e61;
}

.box-icon i
{
    margin-top: 6px;
    font-size: 25px;
    color: #232e61;
    transition: all 0.5s ease;
}

.box-icon:hover > i
{   
    color: #fff;
}

.box-icon:hover
{
    background-color: #232e61;
    border: 1px solid #fff;
}

.box-icon-git
{
    border-radius: 50%;
    background-color: #232e61;
    border: 1px solid #232e61;
    cursor: pointer;
    transition: 0.5s ease;
}

.box-icon-git:hover
{
    background-color: #fff;
    border: 1px solid #fff;
}

.box-icon-git:hover > #icon-git
{
    color: #232e61;
}

#icon-git
{
    font-size: 40px;
    color: #fff;
    transition: all 0.5s ease;
}










/* RESPONSIVIDADE */
/* NAVBAR */
@media (max-width: 1579px)
{
    .cabecalho
    {
        grid-template-columns: 1fr 3fr;
    }
}
@media (max-width: 1120px)
{
    .cabecalho
    {
        grid-template-columns: 1fr 3.5fr;
    }
}
@media (max-width: 1034px)
{
    .topicos
    {
        gap: 2rem;
    }
}
@media (max-width: 1066px)
{
    .cabecalho
    {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
	.checkbtn 
    {
		display: block;
        justify-self: end;
        margin-top: 2.5rem;
	}

	.topicos-sessao-completa
    {
        display: flex;
        flex-direction: column;
		position: fixed;
		width: 35%;
		height: 100vh;
        background-color: #fff;
		top: 6rem;
		right: -100%;
		transition: all 0.5s ease;
        z-index: 1;
        border-left: 1px solid #232e61;
        margin-top: 0rem;
        padding-top: 0;
	}
    .topicos
    {
        flex-direction: column;
        gap: 0rem;
    }
    .topicos li, .topicos-sessao-login-linha
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 3rem;
        height: 4rem;
        width: 100%;
        transition: all 0.5s ease;
        /* background-color: #eab9f1; */
        position: relative;
    }
    .topicos li:first-child
    {
        /* height: 5rem; */
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .topicos li:hover, .topicos-sessao-login-linha:hover
    {
        background-color: #dcf4ff;
    }
    #topicos-icon-fixo
    {
        display: block;
    }
    .topicos-sessao-login
    {
        flex-direction: column;
        align-items: center;
        /* background-color: #9f85cf; */
        width: 100%;
        margin-top: 0rem;
    }

	.cabecalho-menu-item 
    {
		font-size: 20px;
	}

    /* MÁGIGA INDO PRO LADO */
	#check:checked ~ .topicos-sessao-completa 
    {
		right: 0;
	}

    #cabecalho-menu-item-login, .topicos-sessao-login
    {
        margin-right: 0;
        margin-left: 0;
    }
    .topicos li a, .topicos-sessao-login li a
    {
        font-size: 15px;
        color: #232f61;
    }
    .sub-topicos 
    {
        background-color: #fff;
        border: none;
        top: 4rem;
        padding-left: 5rem;
        width: 100%;
    }
    #nav-seta-sub-topicos
    {
        margin-left: 4.8rem;
        margin-top: 0.9rem;
        color: #232f61;
    }
    .cabecalho-menu-item i, .topicos li i 
    {
        color: #232f61;
    }
}


@media (max-width: 774px)
{
    .topicos-sessao-completa
    {
        width: 50%;
    }
}

@media (max-width: 578px)
{
    .topicos-sessao-completa
    {
        width: 60%;
    }
}
@media (max-width: 500px)
{
    .topicos-sessao-completa
    {
        width: 100%;
    }
    .topicos li, .topicos-sessao-login-linha
    {
        justify-content: center;
        padding-left: 0rem;
    }
    .logo p
    {
        margin-left: 2rem;
    }
    .checkbtn
    {
        margin-right: 30px;
    }
    .sub-topicos 
    {
        align-items: center;
        left: 2rem;
        width: 100%;
    }
    #nav-seta-sub-topicos
    {
        margin-left: 5.8rem;
    }
} 

@media(max-width: 444px)
{
    .cabecalho
    {
        grid-template-rows: 2.5rem 2.5rem;
    }
    .checkbtn
    {
        font-size: 20px;
    }
    .container-titulo
    {
        margin-top: 7.5rem;
    }
    .topicos-sessao-completa
    {
        top: 5rem;
    }
}

@media (max-width: 300px)
{
    .topicos li a, .topicos-sessao-login li a
    {
        font-size: 13px;
    }
    .topicos li i, .topicos-sessao-login li i
    {
        font-size: 17px;
    }

}








/* CONTEUDO */
@media(max-width: 990px)
{
    .lista-voluntario
    {
        width: 100%;
        border-radius: 0;
    }
    .lista-voluntario-linha
    {
        width: 100%;
    }
    .lista-item-1
    {
        justify-self: flex-start;
    }
    .lista-item-4
    {
        justify-self: flex-end
    }
}

@media(max-width: 982px)
{
    /* TÍTULO E FRASE */
    .container-titulo 
    {
        max-width: 85%;
    }
    .container-titulo .titulo
    {
        font-size: 33px;
    }
    .container-titulo .frase
    {
        font-size: 14px;
    }
}

@media(max-width: 835px)
{
    .lista-voluntario-linha
    {
        gap: 1.5rem;
    }
}

@media(max-width: 818px)
{
    #email
    {
        display: none;
    }
    #idade
    {
        margin-left: 4rem;
    }
}

@media(max-width: 714px)
{
    .filtros
    {
        flex-direction: column;
    }
    .form-selects
    {
        flex-direction: column;
    }
    
}

@media(max-width: 695px)
{
    .container-titulo .frase
    {
        text-align: justify;
    }
}

@media(max-width: 668px)
{
    .form-filtro
    {
        flex-direction: column;
    }

    .lista-voluntario
    {
        margin: 2.7rem 0rem 8rem 0rem;
    }
}

@media(max-width: 600px)
{
    .lista-voluntario-linha
    {
        gap: 1rem;
    }
    #idade
    {
        margin-left: 2rem;
    }
}

@media(max-width:556px)
{
    #idade
    {
        display: none;
    }
    .filtro-causas, #estados, #cidades
    {
        font-size: 17px;
        width: 10rem;
        height: 2.3rem;
    }
    .box-causas
    {
        min-width: 10rem;
    }
}

@media(max-width: 461px)
{
    .estado-pais
    {
        display: none;
    }
    .box-img
    {
        width: 55px;
        height: 55px;
    }
    .lista-voluntario-linha
    {
        gap: 0rem;
        padding: 1rem;
    }
    .lista-voluntario-linha p
    {
        font-size: 14px;
    }
    .lista-item-1
    {
        gap: 0.3rem;
    }
}

@media(max-width: 340px)
{
    .box-img
    {
        width: 50px;
        height: 50px;
    }
}










/* RODAPÉ */
@media (max-width: 1507px)
{
    .container-footer 
    {
        margin-top: 12%;
    }
}

@media (max-width: 1320px)
{
    .footer-col h5 
    {
        font-size: 23px;
    }
}

@media (max-width: 1180px)
{
    .container-footer
    {
        justify-content: space-around;
    }
    .footer-sessao
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-col
    {
        margin-right: 0;
    }
    #footer-col-adm
    {
        align-self: flex-start;
    }
    #footer-col-sobre
    {
        align-self: flex-start;
    }
   
    #footer-col-adm li
    {
        margin-bottom: 190%;
    }
    #col-ultima
    {
        margin-bottom: 10%;
    }
    .midias-sociais
    {
        margin-top: 6%;
    }
}

@media(max-width: 940px)
{
    footer
    {
        background-position: center;
    }
}

@media (max-width: 811px) 
{
    .container-footer
    {
        margin-top: 15%;
    }
    .footer-col h5 
    {
        font-size: 20px;
    }
    .footer-col ul li
    {
        font-size: 14px;
    }
    .midias-sociais
    {
        margin-top: 9%;
    }
}

@media (max-width: 612px)
{
    .footer-col h5 
    {
        font-size: 18px;
    }
    .footer-col ul li
    {
        font-size: 12px;
    }
    .box-icon i
    {
        font-size: 21px;
        margin-top: 6px;
    }
    #icon-git
    {
        font-size: 35px;
    }
    .box-icon
    {
        width: 35px;
        height: 35px;
    }
} 

@media (max-width: 500px)
{
    .container-footer
    {
        flex-direction: column;
        align-items: center;
    }
    .footer-sessao
    {
        margin-left: 6%;
    }
    #footer-sessao-1
    {
        padding-right: 6%;
    }
    #footer-col-adm li
    {
        margin-bottom: 0;
    }
    .footer-col
    {
        margin-bottom: 20%;
    }
    #footer-col-causas
    {
        margin-bottom: 10%;
    }
    .midias-sociais
    {
        margin-top: 0;
        margin-bottom: 4%;
    }
}

@media (max-width: 507px)
{
    .container p
    {
        text-align: center;
    }
    .container h1
    {
        font-size: 37px;
    }
    .titulo-card {
        margin-bottom: 1rem;
    }
}

@media (max-width: 381px)
{
    .container h1
    {
        font-size: 34px;
    }
    .container p
    {
        font-size: 12px;
    }
    .footer-col h5 
    {
        font-size: 16px;
    }
    .footer-col ul li
    {
        font-size: 10px;
    }
    
    .box-icon i
    {
        font-size: 19px;
        margin-top: 5px;
    }
    #icon-git
    {
        font-size: 32px;
    }
    .box-icon
    {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 300px)
{
    .container-footer
    {
        margin-top: 20%;
    }
    .footer-col h5 
    {
        font-size: 14px;
    }
}