.conteudo-completo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-botoes {
    display: flex;
    /* border: 1px solid #4567a5; */
    padding: 0rem 0.4rem 0rem 0.4rem;
}

.container-botoes button {
    width: 12rem;
    height: 1.7rem;
    border: 1px solid #4567a5;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #4567a5;
}

.btn-dashboard button,
.btn-voluntarios button,
.btn-v-r button {
    border-right: none;
}

.btn-voluntarios button {
    background-color: #4567a5;
    color: #fff;
}

.container-botoes button:hover {
    background-color: #4567a5;
    color: #fff;
}



/* TÃTULO 1 */
.container-titulo-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem 2rem 0rem;
    gap: 0.8rem;
    width: 80%;
}

.titulo-voluntarios {
    font-family: acme, sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #2e2e2e;
}

.frase-voluntarios {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: center;
}



/* CHAT */
.chat-container {
    width: 600px;
    height: 399px;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #4567a5;
    box-shadow: 1px 2px 2px 2px #b4d8e6;
}

.chat-header {
    background: rgb(87, 123, 187);
    background: linear-gradient(90deg, rgba(87, 123, 187, 1) 41%, rgba(141, 167, 214, 1) 73%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.nome-user {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.nome-user img {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
}

.pesquisar-chat {
    margin-right: 15px;
}


.pesquisar-chat i {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#icon-lupa {
    font-size: 16px;
}

.pesquisar-chat #pesquisar {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    padding: 0.2rem 0rem 0.2rem 0rem;
    transition: all 0.2s ease;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2e2e2e;
}


#pesquisar::placeholder {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
}


.chat-titulo {
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}


.main-chat {
    margin-top: 20px;
}

.area-instituicao {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.instituicao {
    float: right;
    max-width: 345px;
    max-height: 108px;
}

.mensagem-instituicao {
    background-color: #c8e4fa;
    border: 1px solid #587bbb;
    border-radius: 0.5rem;
}

.mensagem-instituicao h4 {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    color: #0c1f7e;

}

.mensagem-instituicao p {
    text-align: left;
    font-weight: 400;
    color: #2e2e2e;
    font-family: Poppins, sans-serif;

}


.foto-instituicao img {
    border-radius: 50%;
    border: 1px solid #000;
    width: 60px;
    height: 60px;
}


.area-voluntario {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    margin-left: 30px;
}


.voluntario {
    float: right;
    max-width: 345px;
    max-height: 108px;
}

.mensagem-voluntario {
    background-color: #fbf7c7;
    border: 1px solid #cf8a3f;
    border-radius: 0.5rem;
}

.mensagem-voluntario h4 {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    color: #cf8a3f;
}

.conteudo-mensagem {
    padding: 10px;
}

.mensagem-voluntario p {
    font-weight: 400;
    color: #2e2e2e;
    font-family: Poppins, sans-serif;
}

.foto-voluntario img {
    border-radius: 50%;
    border: 1px solid #000;
    width: 60px;
    height: 60px;
}



.chat-footer {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-top: 60px;
    margin-left: 20px;
}

.enviar-mensagem input {
    border: 1px solid #587bbb;
    border-radius: 0.5rem;
    width: 500px;
    height: 40px;
    outline: none;
}

.enviar-mensagem input::placeholder {
    font-weight: 400;
    color: #8e8e8e;
    font-family: Poppins, sans-serif;
    padding-left: 20px;
    font-size: 1rem;
}


.button-send {
    background-color: #8da7d6;
    border: 1px solid #8da7d6;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button-send:hover {
    background-color: #fff;
}

.button-send:hover>i {
    color: #8da7d6;
}

.button-send i {
    font-size: 20px;
    color: #fff;
}