@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');

/* TABELA */


.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-responsive {
    max-width: 885px;
    max-height: 600px;
    border-radius: 0.5rem;
    border: 1px solid #5f8699;
    box-shadow: 3px 3px 4px 1px #a7c4d3;
}

.funcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 78px;
}

.funcoes-sessao-1 {
    display: flex;
    margin-left: 1.7rem;
    align-items: center;
    gap: 0.5rem;
}

.funcoes span {
    color: #525252;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
}

/* ESTILIZANDO CHECKBOX */
input[type="checkbox"] {
    /* ZERAR CONFIGURAÇÃO PADRÃO */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #5f8699;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    color: #fff;
    background-color: #5f8699;
    text-align: center;

    line-height: 13px;
    font-size: 13px;
}


#icone-x {
    margin-left: 0.5rem;
}

.funcoes-sessao-2 {
    display: flex;
    margin-right: 1.7rem;
    align-items: center;
}

.funcoes i {
    color: #5f8699;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.funcoes i:hover {
    color: #a7c4d3;
}

#icon-lupa {
    font-size: 16px;
}

.funcoes #pesquisar {
    border: none;
    border-bottom: 1px solid #5f8699;
    outline: none;
    padding: 0.2rem 0rem 0.2rem 0rem;
    transition: all 0.2s ease;

    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2e2e2e;
}


#pesquisar::placeholder {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #727272;
}

.table-responsive table {
    border-collapse: collapse;
    border-spacing: 0;
}




thead tr {
    display: block;
    width: 100%;
}

.table-responsive th {
    font-weight: 500 !important;
}

/* TAMANHO DE CADA TH e TD PARA FICAREM ALINHADOS UM COM O OUTRO*/
th:nth-child(1),
td:nth-child(1) {
    min-width: 57px;
    border-left: none !important;
}

th:nth-child(2),
td:nth-child(2) {
    min-width: 57px;
}

th:nth-child(3) {
    min-width: 70px;
}

td:nth-child(3) {
    /* display: flex;
    justify-content: center; */
    padding-left: 9px;
    min-width: 70px;
}

th:nth-child(4),
td:nth-child(4) {
    min-width: 162px;
    max-width: 162px;
    padding: 0rem 1rem 0rem 1rem;
}

th:nth-child(5),
td:nth-child(5) {
    min-width: 204px;
    max-width: 204px;
    padding: 0rem 1rem 0rem 1rem;
}

/* th:nth-child(5) {
    min-width: 229px;
} */

th:nth-child(6),
td:nth-child(6) {
    min-width: 140px;
    padding: 0rem 1rem 0rem 1rem;
}

th:nth-child(7),
td:nth-child(7) {
    min-width: 60px;
    max-width: 60px;
}

th:nth-child(8) {
    min-width: 108px;
}

td:nth-child(8) {
    min-width: 96px;
}

th {
    height: 38px;
}

td 
{
    border-top: none !important;
    word-wrap: break-word;
}



tbody {
    display: block;
    width: 100%;
    height: 334px;
    overflow-y: scroll;
}

/* SCROLL */
/* width */
tbody::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
    width: 12px;
}

.table-responsive::-webkit-scrollbar {
    height: 12px;
}

/* Track */
tbody::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track {
    background-color: #cee9f7;
    border-radius: 0px 0px 0.5rem 0px;
}

/* Handle */
tbody::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #5f8699;
    border-radius: 0.5rem;
    border: 2px solid #cee9f7;
}

.table-responsive th,
.table-responsive td {
    border: 1px solid #5f8699;
    /* padding: 0px 20px 0px 20px; */
    text-align: center;
    color: #2e2e2e;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* IMAGEM */
.box-img-lista {
    width: 50px;
    height: 50px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 50%;
    border: 1px solid #000;
}

.box-img-lista img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}






@media(max-width: 1200px) {

    .table-responsive {
        min-width: 90%;
        overflow-x: scroll;
    }
}