@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

main {
    float: right;
    margin-right: 100px;
}

main h1 {
    margin-top: 3%;
    text-transform: uppercase;
    color: #000;
    font-family: acme, serif;
    font-weight: 400;
}

.nav-lateral {
    height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    /* display: none; */
}

.nav-box-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-lateral-sessao-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fundo {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    background-color: #3f996f;
    gap: 2%;
}

.nav-lateral-sessao-1 p {
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff
}

#nav-topicos-dash {
    margin-top: 1rem;
}

.nav-lateral-sessao-1 a {
    font-family: poppins, sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #277551;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 2rem;
}

.nav-lateral-sessao-1 a:hover {
    color: #fff;
    background-color: #3f996f;
}

.nav-lateral-sessao-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    /* background-color: rgb(240, 127, 255); */
}

.nav-lateral-sessao-1 a:hover.nav-lateral-sessao-2 i {
    color: #fff;
}

.nav-lateral-sessao-2 i {
    font-size: 20px;
    color: #277551;
    margin-right: 0.3rem;
}

.botao-sair {
    background-color: #10492f;
    width: 8rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid #10492f;
    cursor: pointer;
    margin-bottom: 3rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s ease;
}

.botao-sair:hover {
    background-color: #fff;
    color: #10492f;
}



/* TABELA */


.table-responsive {
    margin-top: 10%;
    overflow-x: auto;
    max-width: 1200px;
    max-height: 300px;
    border-radius: 2px;
    border: 1px solid #6bb269;
}

.funcoes {
    display: flex;
    align-items: center;
    gap: 9px;
    margin: 10px;
}

.funcoes span {
    margin: 1%;
    color: #525252;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

.funcoes i {
    color: #4e7059;
}

.funcoes #pesquisar {
    margin-left: 53%;
    border: none;
    border-bottom: 1px solid #69b283;
    outline: none;
}

.table-responsive table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-responsive td img {
    width: 80px;
    height: 80px;
}

.table-responsive td i {
    color: #4e7059;
}

.table-responsive th {
    font-weight: 500 !important;
}

.table-responsive th,
.table-responsive td {
    border: 1px solid #6bb269;
    padding: 0px 20px 0px 20px;
    text-align: center;
    color: #2e2e2e;
    font-family: poppins, sans-serif;
    font-weight: 400;
}


@media (max-width: 767px) {
    .table-responsive {
        width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive table {
        min-width: 650px;
    }
}