@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');



body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TÍTULO E FILTROS */
.container-titulo
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
    max-width: 70%;
}

.titulo
{
    font-family: Acme, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #252d51;
    margin-bottom: 1.6rem;
}

.frase
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}




.conteudo-completo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}










/* CARD */
.card-completo 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 5px 5px 5px #b4d8e6;
    border: 1px solid #4567a5;
    max-width: 50rem;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.card 
{
    width: 100%;
}

.titulos-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem 1rem 1rem;
}
.titulos-card h1
{
    font-family:  Bitter, Verdana, Geneva, Tahoma, serif;
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;

}

.titulos-card h7 
{
    font-weight: 400;
    font-size: 18px;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    color: #2e2e2e; 
}

.descricao-da-vaga p 
{
    text-align: justify;
    line-height: 1.9rem;
    padding: 2.5rem;
    font-size: 16px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #000;
}











.info-ende
{
    display: flex;  
    width: 100%;
    border-bottom: 1px solid #4567a5; 
    border-top: 1px solid #4567a5; 
}
.topico-informacoes
{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #4567a5; 
    padding : 2rem;
}
.topico-informacoes p
{
    color: #525252;
    font-family: poppins, sans-serif;
    line-height: 1.9rem;
    font-size: 16px;
}
.topico-informacoes span
{
    color: #000000;
    font-family: poppins, sans-serif;
    line-height: 1.9rem;
    font-size: 16px;
}
.topico-endereco
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}
.topico-endereco p
{
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.titulo
{
    display: flex;
    gap: 0.3rem;
    padding-bottom: 1rem;
}
.titulo h6
{
    font-weight: 600;
    font-size: 16px;
    font-family: Bitter, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000000;   
}











/* CAUSAS */
.causas 
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid #4567a5;
}
.causas h6
{
    font-family: Bitter, serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.titulo i
{
    font-size: 20px;
    color: #000;
}
.tipo-causas
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    padding-left: 0.5rem;
}
.tipo-causas button 
{
    width: 10rem;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    height: 2.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;  
    text-overflow: ellipsis;
    padding: 0rem 0.6rem 0rem 0.6rem;

    /* TEXTO */
    font-size: 16px;
    font-weight: 400;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
}
.tipo-causas button:hover
{
    transform: translateY(-7px);
}
#tipo-causas-1
{
    background-color: #e4fdff;
}
#tipo-causas-1:hover
{
    background-color: #b9edf1;
}
#tipo-causas-2
{
    background-color: #defff1;
}
#tipo-causas-2:hover
{
    background-color: #92facf;
}
#tipo-causas-3
{
    background-color: #f3e1ff;
}
#tipo-causas-3:hover
{
    background-color: #dbb3f5;
}











/*ULTIMA ABA CANDIDATAR-SE*/
.area-candidatar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.area-candidatar p 
{
    
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    max-width: 95%;
    margin: 1.5rem;
}
.area-candidatar button
{
    background-color: #4567a5;
    border: 1px solid #4567a5;
    color: #fff;
    width: 12rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 0.5rem;
    margin-bottom: 2.8rem;
    font-weight: 300;
    font-family: poppins, sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
}

.area-candidatar button:hover
{
    background-color: #fff;
    color: #4567a5;
}






/* BOTÃO DESABILITADO */
#desabilitado
{
    background-color: #6d82a8;
    border: 1px solid #6d82a8;
    color: #e0e0e0;
    cursor: not-allowed;
}





@media (max-width: 1072px)
{
    .card-completo
    {
        border-radius: 0;
        border-left: none;
    }
}

@media(max-width: 1048px)
{
    .card-completo
    {
        border-radius: 20px;
        border-left: 1px solid #4567a5; 
    } 
}

@media(max-width: 897px)
{
    .card-completo
    {
        border-radius: 0;
        width: 100vw;
    }
    .container-titulo
    {
        max-width: 80%;
    }
}

@media (max-width:681px)
{
    .info-ende
    {
        flex-direction: column;
    }
    .topico-informacoes, .topico-endereco
    {
        width: 100%;
        border-right: none;  
    }
    .topico-informacoes-texto
    {
        display: flex;
        text-align: left;
        gap: 4rem;
    }
    .topico-endereco
    {   
        border-top: 1px solid #4567a5;
    }
    .tipo-causas
    {
        justify-content: center;
    }
    .descricao-da-vaga p 
    {
        padding: 1rem;
    }
}

@media (max-width: 633px)
{
    .titulos-card h1
    {
        font-size: 22px;
    }
    .titulos-card h7
    {
        font-size: 16px;
    }
}
@media (max-width: 612px)
{
    .topico-informacoes-texto
    {
        flex-direction: column;
        gap: 0;
    }
    .frase
    {
        text-align: justify;
    }
}

@media (max-width: 535px)
{
    .descricao-da-vaga p 
    {
        font-size: 14px;

    }   
}

@media(max-width: 475px)
{
    .titulo
    {
        font-size: 29px;
        padding-bottom: 0rem;
        margin-bottom: 1.5rem;
    }
    .frase, .topico-informacoes span, .topico-informacoes p, .topico-endereco p
    {
        font-size: 14px;
    }
    .topico-endereco, .causas, .topico-informacoes
    {
        padding: 1.5rem;
    }
    .titulo h6
    {
        font-size:  13px;
    }
    .titulo i
    {
        font-size: 17px;
    }
    .tipo-causas button
    {
        width: 9rem;
        height: 2.2rem;
        font-size: 14px;
    }
    .area-candidatar p
    {
        font-size: 14px;
    }
    .area-candidatar button
    {
        width: 11rem;
        height: 2.3rem;
        font-size: 17px;
    }
}