@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');





body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TÍTULO E FILTROS */
.container-titulo
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    max-width: 70%;
}

.titulo
{
    font-family: Acme, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #252d51;
    margin-bottom: 1.6rem;
}

.frase
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}








/* FILTROS */
.form-filtro
{
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
    align-items: flex-end;
}

.box-filtro-causas
{
    position: relative;
}
 .filtro-causas,
 .filtro-habilidade /*, #estados, #cidades */
{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d6ebfd;
    border: 1px solid #000000;
    width: 12rem;
    height: 2.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;

    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
}

.filtro-causas:hover,
.filtro-habilidade:hover
{
    border: 1px solid #4567a5;
    background-color: #4567a5;
    color: #fff;
}

/* VAGAS */
#filtro-causas,
#filtro-habilidade
{
    background-color: #fbf7c7;   
}

#filtro-causas:hover,
#filtro-habilidade:hover
{
    background-color: #cf8a3f;
    border: 1px solid #cf8a3f;
    color: #fff;
}

.box-causas,
.box-habilidade
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    min-width: 12rem;
    max-height: 15.3rem;
    border: 1px solid #4567a5;
    padding: 1rem;
    gap: 0.8rem;
    position: absolute;
    top: 3rem;
    display: none;
    overflow-y: scroll;
    z-index: 1;
}

/* SCROLL INSTITUIÇÃO*/
.box-causas::-webkit-scrollbar, #estados::-webkit-scrollbar, #cidades::-webkit-scrollbar,
.box-habilidade::-webkit-scrollbar, #estados::-webkit-scrollbar, #cidades::-webkit-scrollbar 
{
    width: 11px;    
}

.box-causas::-webkit-scrollbar-track
.box-habilidade::-webkit-scrollbar-track
{
    background: #dce5f7;       
    border-radius: 0.8rem;  
}

.box-causas::-webkit-scrollbar-thumb, #estados::-webkit-scrollbar-thumb, #cidades::-webkit-scrollbar-thumb 
.box-habilidade::-webkit-scrollbar-thumb, #estados::-webkit-scrollbar-thumb, #cidades::-webkit-scrollbar-thumb 
{
    background-color: #4567a5;  
    border-radius: 20px;     
    border: 2px solid #dce5f7;   
    transition: all 0.5s ease;
}

#estados::-webkit-scrollbar-track, #cidades::-webkit-scrollbar-track 
{
    background: #dce5f7;        
}




/* ESTILIZANDO CHECKBOX */
#causas[type = "checkbox"],
#habilidade[type = "checkbox"]
{
    /* ZERAR CONFIGURAÇÃO PADRÃO */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #525252;
    outline: none;
    cursor: pointer;
}
#causas[type = "checkbox"]:checked::before,
#habilidade[type = "checkbox"]:checked::before
{
    content: '\2713';
    display: block;
    color: #fff;
    background-color: #4567a5; 
    text-align: center;
   
    line-height: 13px;
    font-size: 13px;
}

.box-causas-checkbox,
.box-habilidade-checkbox
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.box-causas-checkbox label,
.box-habilidade-checkbox label
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #525252;
    white-space: nowrap;
}


/* ESTILIZANDO SELECT */
#estados, #cidades
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #ffffff;
    border: 1px solid #000000;
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0rem 0.8rem 0rem 0.8rem;
    transition: all 0.5s ease;
   
    background-image: url("../../img/seta.png");
    background-repeat: no-repeat;
    background-position: 169px center;
    background-size: 17px;

    /* TEXTO */
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #525252;
    outline: none;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.select-option
{
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
}



.pesquisa-instituicao
{
    display: flex;
    justify-content: flex-end;
    margin: 7rem 2rem 0rem 0rem;
    width: 100%;
}

.box-input-pesquisa
{
    position: relative;
}

.pesquisa-instituicao input
{
    border: 1px solid #000;
    outline: none;
    border-radius: 1.3rem;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    width: 20rem;
    transition: all 0.5s ease;

    font-family: poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

.pesquisa-instituicao input:focus
{
    border-color: #4567a5;
}

#icon-lupa
{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: all 0.5s ease;
}

#icon-lupa:hover
{
    color: #4567a5;
}


 








.container-cards
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 3rem 4rem 3rem;
    /* background-color: #99a8eb; */
    padding-top: 0.7rem;
    max-width: 70rem;
}

.card-carrossel-dois {
    width: 300px;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-bottom: 1rem;
}

.card-carrossel-dois:hover {
    transform: translateY(-10px);
}

.content-it {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 24rem;
    border: 1px solid #4567a5;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px #b4d8e6;
}

.header-card-carrossel-it {
    display: flex;
    align-items: flex-end;
    margin: 3%;
    width: 100%;
    gap: 3%;
    padding-left: 4%;
}

.header-card-carrossel-it i {
    font-size: 18px;
}

.header-card-carrossel-it p {
    font-family: bitter, serif;
    font-weight: 800;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
}

.fundo {
    display: flex;
    /* border-radius: 0.6rem 0.6rem 0rem 0rem; */
    background-color: #bbefd8;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.fundo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 4% 0px 3% 0px;
    border: 1px solid #000;
}

.fundo-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box-conteudo-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.title-1 p {
    font-family: poppins, sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 5%;
}

.title-2
{
    overflow: hidden;
    width: 80%;
}

.title-2 p {
    margin-top: 20px;
    font-family: bitter, serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-3
{
    height: 6rem;
    overflow: hidden;
    padding: 0rem 1.6rem 1.6rem 1.6rem;
}

.title-3 p {
    font-family: bitter, serif;
    font-size: 14px;
    text-overflow: ellipsis;  
    /* margin-bottom: 0.7rem; */

    color: #525252;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5rem;
}

.card-carrossel-botao {
    background-color: #4567a5;
    height: 2.5rem;
    width: 11rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border: 1px solid #4567a5;
    transition: all 0.4s ease;
    font-family: poppins, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
}

.card-carrossel-botao:hover {
    color: #4567a5;
    background-color: #fff;
    border: 1px solid #4567a5;
}

#botao-it {
    margin-top: 0.5rem;
}























/* CONTEUDO */
@media(max-width: 1128px)
{
    .lista-voluntario
    {
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
    .lista-voluntario-linha
    {
        width: 100%;
    }
    .lista-item
    {
        justify-self: flex-start;
    }
}


 /* TÍTULO E FRASE */
@media(max-width: 982px)
{  
    .container-titulo 
    {
        max-width: 85%;
    }
    .container-titulo .titulo
    {
        font-size: 33px;
    }
    .container-titulo .frase
    {
        font-size: 14px;
    }
}

@media(max-width: 714px)
{
    .filtros
    {
        flex-direction: column;
    }
    .form-selects
    {
        flex-direction: column;
    }
    
}

@media(max-width: 695px)
{
    .container-titulo .frase
    {
        text-align: justify;
    }
}

@media(max-width: 668px)
{
    .form-filtro
    {
        flex-direction: column;
    }

    .lista-voluntario
    {
        margin: 2.7rem 0rem 8rem 0rem;
    }
}

@media(max-width: 635px)
{
    .lista-item-sessao-2 .descricao
    {
        font-size: 11px;
    }
    .box-img
    {
        width: 50px;
        height: 50px;
    }
    .lista-item
    {
        gap: 0.5rem;
    }
}

@media(max-width: 592px)
{
    .lista-item-2
    {
        justify-content: flex-start;
    }
    .lista-item-2 button
    {
        width: 6rem;
        height: 1.7rem;
        font-size: 12px;
    }
}

@media(max-width: 577px)
{
    .lista-item .lista-item-sessao-2
    {
        display: none;
    }
}

@media(max-width:556px)
{
    .filtro-causas, #estados, #cidades
    {
        font-size: 17px;
        height: 2.3rem;
    }

    #estados, #cidades
    {
        font-size: 13px;
    }
    .container-titulo .frase
    {
        font-size: 13px;
    }
}

@media(max-width: 479px)
{
    .pesquisa-instituicao input
    {
        padding: 0.3rem 0.7rem 0.3rem 0.7rem;
        width: 16rem;
        font-size: 13px;

        background-position: 227px;
    }
}

@media(max-width: 347px)
{
    .lista-item-2
    {
        justify-content: center;
    }
    .container-titulo .frase
    {
        font-size: 12px;
    }
    .filtro-causas, #estados, #cidades, .filtro-habilidade
    {
        width: 9rem;
        height: 1.8rem;
        font-size: 13px;
    }
    #estados, #cidades
    {
        font-size: 10px;
        background-position: 125px;
        background-size: 13px;
    }
    .form-filtro
    {
        gap: 1rem;
    }
    .card-carrossel-dois
    {
        width: 272px;
    }
    .title-2 p
    {
        font-size: 16px;
    }
    .title-3
    {
        padding: 1rem 1.8rem 1.9rem 1.8rem;
    }
    .title-3 p
    {
        font-size: 13px;
        line-height: 1.3rem;
    }
    .card-carrossel-botao
    {
        font-size: 16px;
        height: 2.2rem;
        width: 10rem;
    }
    .content-it
    {
        height: 23rem;
    }
}

@media(max-width: 289px)
{
    .pesquisa-instituicao 
    {
        justify-content: center;
        margin-right: 0;
    }
    .pesquisa-instituicao input
    {
        padding: 0.3rem 0.7rem 0.3rem 0.7rem;
        width: 13rem;
        font-size: 11px;

        background-position: 184px;
        background-size: 13px;
    }
}



