@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter&family=Poppins:wght@300;400;500&display=swap');





body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TÍTULO E FILTROS */
.container-titulo
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    max-width: 70%;
}

.titulo
{
    font-family: Acme, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #252d51;
    margin-bottom: 1.6rem;
}

.frase
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}







.pesquisa-instituicao
{
    display: flex;
    justify-content: flex-end;
    margin: 7rem 2rem 0rem 0rem;
    width: 100%;
}

.box-input-pesquisa
{
    position: relative;
}

.pesquisa-instituicao input
{
    border: 1px solid #000;
    outline: none;
    border-radius: 1.3rem;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    width: 20rem;
    transition: all 0.5s ease;

    font-family: poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

.pesquisa-instituicao input:focus
{
    border-color: #4567a5;
}

#icon-lupa
{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: all 0.5s ease;
}

#icon-lupa:hover
{
    color: #4567a5;
}






/* FILTROS */
.form-filtro
{
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
    align-items: flex-end;
}

.box-filtro-causas
{
    position: relative;
}

/* INSTITUIÇÃO */
 .filtro-causas-i /*, #estados, #cidades */
{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d6ebfd;
    border: 1px solid #000000;
    width: 12rem;
    height: 2.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;

    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
}

.filtro-causas-i:hover
{
    border: 1px solid #4567a5;
    background-color: #4567a5;
    color: #fff;
}

/* VOLUNTÁRIO */
.filtro-causas /*, #estados, #cidades */
{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fbf7c7;
    border: 1px solid #000000;
    width: 12rem;
    height: 2.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;

    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
}

.filtro-causas:hover
{
    border: 1px solid #cf8a3f; 
    background-color: #cf8a3f; 
    color: #fff;
}



/* VOLUNTÁRIO */
.box-causas
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    min-width: 12rem;
    max-height: 15.3rem;
    border: 1px solid #cf8a3f;  
    padding: 1rem;
    gap: 0.8rem;
    position: absolute;
    top: 3rem;
    display: none;
    overflow-y: scroll;
}

/* INSTITUIÇÃO */
.box-causas-i
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    min-width: 12rem;
    max-height: 15.3rem;
    border: 1px solid #4567a5;  
    padding: 1rem;
    gap: 0.8rem;
    position: absolute;
    top: 3rem;
    display: none;
    overflow-y: scroll;
}

/* SCROLL INSTITUIÇÃO*/
.box-causas-i::-webkit-scrollbar, .select-estados-i::-webkit-scrollbar, .select-cidade-i::-webkit-scrollbar 
{
    width: 11px;    
}

.box-causas-i::-webkit-scrollbar-track
{
    background: #dce5f7;       
    border-radius: 0.8rem;  
}

.box-causas-i::-webkit-scrollbar-thumb, .select-estados-i::-webkit-scrollbar-thumb, .select-cidade-i::-webkit-scrollbar-thumb 
{
    background-color: #4567a5;  
    border-radius: 20px;     
    border: 2px solid #dce5f7;   
    transition: all 0.5s ease;
}

.select-estados-i::-webkit-scrollbar-track, .select-cidade-i::-webkit-scrollbar-track 
{
    background: #dce5f7;        
}


/* SCROLL VOLUNTÁRIO */
.box-causas::-webkit-scrollbar, .select-estados::-webkit-scrollbar, .select-cidades::-webkit-scrollbar 
{
    width: 11px;    
}

.box-causas::-webkit-scrollbar-track
{
    background: #f7ebdc;       
    border-radius: 0.8rem;  
}

.box-causas::-webkit-scrollbar-thumb, .select-estados::-webkit-scrollbar-thumb, .select-cidades::-webkit-scrollbar-thumb 
{
    background-color: #cf8a3f;    
    border-radius: 20px;     
    border: 2px solid #f7ebdc;  
    transition: all 0.5s ease;
}

.select-estados::-webkit-scrollbar-track, .select-cidades::-webkit-scrollbar-track 
{
    background: #f7ebdc;       
}



/* ESTILIZANDO CHECKBOX INSTITUIÇÃO*/
.checkbox-causas-i[type = "checkbox"]
{
    /* ZERAR CONFIGURAÇÃO PADRÃO */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #525252;
    outline: none;
    cursor: pointer;
}
.checkbox-causas-i[type = "checkbox"]:checked::before
{
    content: '\2713';
    display: block;
    color: #fff;
    background-color: #4567a5; 
    text-align: center;
   
    line-height: 13px;
    font-size: 13px;
}


/* VOLUNTÁRIO */
.checkbox-causas[type = "checkbox"]
{
    /* ZERAR CONFIGURAÇÃO PADRÃO */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #525252;
    outline: none;
    cursor: pointer;
}
.checkbox-causas[type = "checkbox"]:checked::before
{
    content: '\2713';
    display: block;
    color: #fff;
    background-color: #cf8a3f;    
    text-align: center;
   
    line-height: 13px;
    font-size: 13px;
}



.box-causas-checkbox
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.box-causas-checkbox label
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #525252;
    white-space: nowrap;
}


/* ESTILIZANDO SELECT */
#estados, #cidades
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #ffffff;
    border: 1px solid #000000;
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0rem 0.8rem 0rem 0.8rem;
    transition: all 0.5s ease;
   
    background-image: url("../../img/seta.png");
    background-repeat: no-repeat;
    background-position: 169px center;
    background-size: 17px;

    /* TEXTO */
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #525252;
    outline: none;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.select-option
{
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
}







 




/* LISTA */
.lista-voluntario
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid #2e2e2e;
    border-radius: 0.5rem;
    margin: 4rem;
    margin-bottom: 9rem;
    width: 58rem;
    overflow: hidden;
}


.lista-voluntario-linha, .lista-voluntario-linha-i
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #000;
    padding: 1rem 1.5rem 1rem 1.5rem;
    transition: all 0.5s;
    width: 100%;
}

.lista-voluntario-linha-i:hover
{
    background-color: #dff1ff;
}

.lista-voluntario-linha:hover
{
    background-color: #fbf7c7;
}

.lista-voluntario-linha:last-child, .lista-voluntario-linha-i:last-child
{
    border-bottom: none;
}

.lista-voluntario-linha div, .lista-voluntario-linha-i div
{
    display: flex;
    align-items: center;
}

.lista-item
{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    /* width: 33.33%; */
    /* background-color: #769be0; */
}

.lista-item-sessao-1
{
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    /* background-color: #a4bae2; */
    /* width: 15rem; */
}

.lista-voluntario-linha .nome, 
.lista-voluntario-linha-i .nome
{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.lista-item-sessao-1 .email
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #525252;
    text-align: left;
}

.lista-item-sessao-2
{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-left: 1rem;
    border-left: 1px solid #a8a8a8;
}

.lista-item-sessao-2 .descricao
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #525252;
}

#localizacao
{
    /* background-color: #dd9191; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
    padding-bottom: 0.7rem;
}

#localizacao p
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #000;
    /* background-color: #9aa7df; */
}

#localizacao i
{
    font-size: 18px;
    color: #000;
}
.box-img
{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #000;
}

.box-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.lista-item-2
{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: flex-end;
    padding-top: 1rem;
}

.lista-item-2 button 
{ 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 8rem;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    height: 2rem;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-bottom: 0.5rem;
    background-color: #ecd1f7;
    overflow: hidden;  
    text-overflow: ellipsis;
    padding: 0rem 0.6rem 0rem 0.6rem;

    /* TEXTO */
    font-size: 14px;
    font-weight: 400;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
}

.lista-item-2 button:hover
{
    background-color: #dbb3f5;
}

















/* CONTEUDO */
@media(max-width: 1128px)
{
    .lista-voluntario
    {
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
    .lista-voluntario-linha
    {
        width: 100%;
    }
    .lista-item
    {
        justify-self: flex-start;
    }
}


 /* TÍTULO E FRASE */
@media(max-width: 982px)
{  
    .container-titulo 
    {
        max-width: 85%;
    }
    .container-titulo .titulo
    {
        font-size: 33px;
    }
    .container-titulo .frase
    {
        font-size: 14px;
    }
}

@media(max-width: 714px)
{
    .filtros
    {
        flex-direction: column;
    }
    .form-selects
    {
        flex-direction: column;
    }
    
}

@media(max-width: 695px)
{
    .container-titulo .frase
    {
        text-align: justify;
    }
}

@media(max-width: 668px)
{
    .form-filtro
    {
        flex-direction: column;
    }

    .lista-voluntario
    {
        margin: 2.7rem 0rem 8rem 0rem;
    }
}

@media(max-width: 635px)
{
    .lista-item-sessao-2 .descricao
    {
        font-size: 11px;
    }
    .box-img
    {
        width: 50px;
        height: 50px;
    }
    .lista-item
    {
        gap: 0.5rem;
    }
}

@media(max-width: 592px)
{
    .lista-item-2
    {
        justify-content: flex-start;
    }
    .lista-item-2 button
    {
        width: 6rem;
        height: 1.7rem;
        font-size: 12px;
    }
}

@media(max-width: 577px)
{
    .lista-item .lista-item-sessao-2
    {
        display: none;
    }
}

@media(max-width:556px)
{
    .filtro-causas, #estados, #cidades
    {
        font-size: 17px;
        height: 2.3rem;
    }

    #estados, #cidades
    {
        font-size: 13px;
    }
    .container-titulo .frase
    {
        font-size: 13px;
    }
}

@media(max-width: 479px)
{
    .pesquisa-instituicao input
    {
        padding: 0.3rem 0.7rem 0.3rem 0.7rem;
        width: 16rem;
        font-size: 13px;

        background-position: 227px;
    }
}

@media(max-width: 347px)
{
    .lista-item-2
    {
        justify-content: center;
    }
    .container-titulo .frase
    {
        font-size: 12px;
    }
    .filtro-causas, #estados, #cidades, .filtro-causas-i
    {
        width: 9rem;
        height: 1.8rem;
        font-size: 13px;
    }
    #estados, #cidades
    {
        font-size: 10px;
        background-position: 125px;
        background-size: 13px;
    }
    .form-filtro
    {
        gap: 1rem;
    }
}

@media(max-width: 320px)
{
    .lista-voluntario-linha .nome, .lista-voluntario-linha-i .nome
    {
        font-size: 14px;
    }
    .lista-item-sessao-1 .email
    {
        font-size: 11px;
    }
    .container-titulo .titulo
    {
        font-size: 29px;
    }
}

@media(max-width: 289px)
{
    .pesquisa-instituicao 
    {
        justify-content: center;
        margin-right: 0;
    }
    .pesquisa-instituicao input
    {
        padding: 0.3rem 0.7rem 0.3rem 0.7rem;
        width: 13rem;
        font-size: 11px;

        background-position: 184px;
        background-size: 13px;
    }
}



